@{
    Layout = null;
}
@using bbk.netcore.Web.Areas.Inventorys.Models.ImportRequest
@model ImportRequestViewModel
<script src="~/view-resources/Areas/Oms/ImportRequests/paging.js" asp-append-version="true"></script>
<div class="modal-content" id="ItemsCreateModal">
    <div class="modal-header">
        <h5 class="modal-title">Cập nhật phiếu nhập </h5><button type="button" class="close" data-dismiss="modal"
                                                       aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="FrmEdit" role="form" class="needs-validation" novalidate="">
            <div class="form-group row required">
                <input value="@Model.impRequests.Id" name="Id" id="Id" hidden />
                <input value="@Model.TransferId" name="TransferId" id="TransferId" hidden />
                <input value="@Model.ImportRequestSubsidiaryId" name="ImportRequestSubsidiaryId" id="ImportRequestSubsidiaryId" hidden />
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Nhập đến kho"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="WarehouseDestinationId" name="WarehouseDestinationId" asp-for="@Model.WarehouseDestinationId" asp-items="@Model.GetWarehouse()" disabled required>
                        <option value="" selected disabled>Chọn Kho</option>
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn Kho.
                    </div>
                </div>
                 <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Người vận chuyển"))<span class="text-danger">*</span></label>
                    <input type="text" name="ShipperName" id="ShipperName" class="form-control" required value="@Model.ShipperName">
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("Vui lòng nhập người vận chuyển."))
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-form-label">@(new FixedLocalizableString("SDT"))<span class="text-danger">*</span></label>
                    <div class="d-flex">
                        <div class="input-group-prepend">
                            <span class="input-group-text">+84</span>
                        </div>
                        <input id="ShipperPhone" type="text" name="ShipperPhone" value="@Model.ShipperPhone" class="form-control" pattern=".{9,}" title="Ký tự nhập ít nhất là 9." maxlength="9" required />
                    </div>
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("Sai định dạng!"))
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Ngày cần"))<span class="text-danger">*</span></label>
                    <input type="text" autocomplete="off" class="form-control date-picker" disabled value="@Model.RequestDate.ToShortDateString()" placeholder="@(new FixedLocalizableString("Nhập ngày"))"
                           id="RequestDate">
                    <div class="invalid-feedback">
                        Vui lòng chọn thời gian.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Người tao phiếu"))<span class="text-danger">*</span></label>
                    <input type="text" name="CreateBy" class="form-control" value="@Model.CreatedBy" disabled minlength="">
                </div>
               @* @if(Model.TransferId != 0 )
                {
                    <div class="col-md-12">
                        <label class=" col-form-label">@(new FixedLocalizableString("Lý do điều chuyển"))</label>
                        <textarea id="TransferNote" name="TransferNote" asp-for="TransferNote" class="form-control"></textarea>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <label class=" col-form-label">@(new FixedLocalizableString("Lý do nhập kho"))</label>
                        <textarea id="Note" name="Note" asp-for="@Model.ImportRequestSubsidiary.Note" class="form-control"></textarea>
                    </div>
                }*@

                <div class="col-md-12">
                    <label class=" col-form-label">@(new FixedLocalizableString("Thông tin hàng hóa"))</label>
                    @*<table id="ItemTable" class="table table-bordered table-hover table-striped w-100 paging-nav">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>HÀNG HOÁ</th>
                                <th>ĐVT</th>
                                <th>SỐ LƯỢNG NHẬP</th>
                                <th>SỐ LƯỢNG THỰC TẾ</th>
                                <th>SỐ LƯỢNG CHÊNH LỆCH</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>*@

                    <table id="ItemsTableView" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>STT</th>
                                <th>Mã hàng hóa</th>
                                <th>Tên hàng hóa</th>
                                <th>Số lượng</th>
                                <th>Mã QR</th>
                                <th>Vị trí</th>
                                <th>Số lượng thực tế</th>
                                <th>Số lượng chênh lệch</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                                       
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancelAndHuy.cshtml")


