@using Abp.Localization

@section Header{

    <!-- should using in layouts -->
    <link href="~/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
        <link href="~/libs/select2/css/select2.min.css" rel="stylesheet" />
        <link href="~/libs-ext/fullcalendar/fullcalendar.css" rel="stylesheet" />
        <link href="~/libs-ext/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs-ext/fullcalendar/fullcalendar.css" rel="stylesheet" />
        <link href="~/libs/select2/css/select2.min.css" rel="stylesheet" />
        <link href="~/libs-ext/fullcalendar/fullcalendar.css" rel="stylesheet" />
        <link href="~/libs-ext/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
    </environment>
}
    @section Scripts{
    <environment names="Development">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/libs/select2/js/select2.full.min.js" asp-append-version="true"></script>
        <script src="~/libs-ext/fullcalendar/fullcalendar.bundle.js" asp-append-version="true"></script>
        <script src="~/libs-ext/summernote/dist/summernote-bs4.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ScheduleWorks/index.js" asp-append-version="true"></script>
       @* <script src="~/view-resources/Areas/Oms/Works/_CreateModal.js" asp-append-version="true"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/select2/js/select2.full.min.js" asp-append-version="true"></script>
        <script src="~/libs-ext/fullcalendar/fullcalendar.bundle.js" asp-append-version="true"></script>
        <script src="~/libs-ext/summernote/dist/summernote-bs4.min.js" asp-append-version="true"></script>
        <script src="/view-resources/Areas/PersonalProfile/_Bundles/documents.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ScheduleWorks/index.min.js" asp-append-version="true"></script>
    </environment>
}
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <span class="fw-500"><i>Lịch làm việc</i></span>
                    </h2>
                    <div class="panel-toolbar">
                        
                        <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="form-row">
                        <div class="col-lg-4 col-md-12 mb-3">
                            <label class="form-label" for="SearchTerm">@(new FixedLocalizableString("Tìm kiếm"))</label>
                            <input type="text" id="SearchTerm" name="SearchTerm" placeholder="@(new FixedLocalizableString("Nhập tên công việc hoặc nơi diễn ra"))" class="form-control">
                        </div>
                        <div class="col-lg-4 col-md-12 mb-3 ">
                            <label class="form-label" for="list-level">@(new FixedLocalizableString("Chọn mức độ"))</label>
                             <select class="select2-placeholder form-control" id="list-level">
                                <option value="" selected hidden disabled>Chọn Mức độ</option>
                                <option value="">Tất cả</option>
                                <option value="0">Thấp</option>
                                <option value="1">Trung bình</option>
                                <option value="2">Cao</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-3 mt-auto">
                            <button class="btn btn-primary ml-auto waves-effect waves-themed" id="Search" type="button">@(new FixedLocalizableString("Tìm kiếm"))</button>
                        </div>
                    </div>
                    <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row">
                        <button id="CreateNewButtonxx" name="CreateNewButton" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                            <span class="fal fa-plus-square"></span>
                            @(new FixedLocalizableString("Thêm mới"))
                        </button>
                    </div>
                    <div id="calendar"></div>
                        <!-- Select start -->
                        @*<select class="select2-placeholder form-control" id="list-workgroup" asp-items="@Model.GetSelectListItemWorkGroup()">
                            <option value="" selected disabled>Chọn Nhóm công việc</option>
                            <option value="">Tất cả</option>
                        </select>*@
                        <!-- Select end -->
                        
                        <!-- datatable start -->
                        
                        <!-- datatable end -->
                    </div>
                </div>
            </div>
        </div>
    </div>