@using Abp.Localization
@using Abp.MultiTenancy
@using bbk.netcore.MultiTenancy
@using bbk.netcore.mdl.OMS.Application.Producers.Dto
@using bbk.netcore.mdl.PersonalProfile.Core
@model ProducerListDto
<div class="modal-header">
    <h5 class="modal-title">Cập nhật nhà sản xuất </h5>
</div>

<div class="modal-body">
    <input type="text" hidden id="valueCityId" value="@Model.Area" />
    <form name="FrmEdit" method="post" role="form" class="form-validation needs-validation" novalidate>
        <input type="hidden" name="Id" value="@Model.Id" id="Id" />
        <div class="row">
            <div class="form-group col-md-4 required">
                <label>@(new FixedLocalizableString("Tên NSX"))<span class="text-danger">*</span></label>
                <input type="text" name="Name" value="@Model.Name" class="form-control" required minlength="">
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Không được để trống trường này!"))
                </div>
            </div>
            @*  <div class="form-group col-md-4 required">
            <label>@(new FixedLocalizableString("Khu vực"))</label>
            <input type="text" name="Area" value="@Model.Area" class="form-control" required minlength="">
            <div class="invalid-feedback">
            @(new FixedLocalizableString("Không được để trống trường này!"))
            </div>
            </div>*@
            <div class="form-group col-md-4 required">
                <label>@(new FixedLocalizableString("Khu vực"))<span class="text-danger">*</span></label>
                <select class="form-control" id="selectProvinceOfBirth" name="Area" required>
                    <option value="" selected disabled class="title-address" style="font-size:12px;">Chọn Tỉnh/TP</option>
                    @foreach (var item in Model.provinces.Addresses)
                    {
                        <option value="@item.Id" data-select-id="@item.Name" data-id="@item.Id">@item.Name</option>
                    }
                </select>
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Không được để trống trường này!"))
                </div>
            </div>
            <div class="form-group col-md-4 required">
                <label>@(new FixedLocalizableString("Địa chỉ"))<span class="text-danger">*</span></label>
                <input type="text" name="Adress" value="@Model.Adress" class="form-control" required minlength="">
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Không được để trống trường này!"))
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4 required">
                <label class="">@(new FixedLocalizableString("Số điện thoại"))<span class="text-danger">*</span></label>
                <div class="d-flex">
                    <div class="input-group-prepend">
                        <span class="input-group-text">+84</span>
                    </div>
                    <input id="PhoneNumber" type="text" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" pattern=".{9,}" title="Ký tự nhập ít nhất là 9." maxlength="9" required />
                </div>
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Sai định dạng!"))
                </div>
            </div>
            <div class="form-group col-md-4 required">
                <label class="">@(new FixedLocalizableString("Email"))<span class="text-danger">*</span></label>
                <input type="email" name="Email" value="@Model.Email" class="form-control" required minlength="">
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Không được để trống trường này!"))
                </div>
            </div>
            <div class="form-group col-md-4 required">
                <label class="">@(new FixedLocalizableString("Fax"))</label>
                <input type="number" name="Fax" value="@Model.Fax" class="form-control" minlength="">
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Không được để trống trường này!"))
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4 required">
                <label class="">@(new FixedLocalizableString("Mã số thuế"))<span class="text-danger">*</span></label>
                <input type="text" name="TaxCode" value="@Model.TaxCode" class="form-control" required minlength="">
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Không được để trống trường này!"))
                </div>
            </div>
            <div class="form-group col-md-4 required">
                <label class="">@(new FixedLocalizableString("Website"))<span class="text-danger">*</span></label>
                <input type="text" name="Website" value="@Model.Website" class="form-control" minlength="">
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Không được để trống trường này!"))
                </div>
            </div>
            <div class="form-group col-md-4 required">
                <label class="">@(new FixedLocalizableString("Tên ngân hàng"))<span class="text-danger">*</span></label>
                <input type="text" name="Bank" value="@Model.Bank" class="form-control" required minlength="">
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Không được để trống trường này!"))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 required">
                <label class="">@(new FixedLocalizableString("STK"))<span class="text-danger">*</span></label>
                <input type="text" name="STK" value="@Model.STK" class="form-control" required minlength="">
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Không được để trống trường này!"))
                </div>
            </div>
            <div class="form-group col-md-4 required">
                <label class="">@(new FixedLocalizableString("Tên người đại diện"))<span class="text-danger">*</span></label>
                <input type="text" name="NameRepresentative" value="@Model.NameRepresentative" class="form-control" required minlength="">
                <div class="invalid-feedback">
                    @(new FixedLocalizableString("Không được để trống trường này!"))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 required">
                <label class="">@(new FixedLocalizableString("Mô tả"))</label>
                <textarea asp-for="Remark" id="Remark" name="Remark" class="form-control"></textarea>
            </div>
        </div>
    </form>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancelAndHuy.cshtml")


