@using bbk.netcore.Web.Areas.Inventorys.Models.IMBSub;
@{
    Layout = null;
}
@model IndexViewModel

<div class="modal-content" id="ItemsCreateModal">
    <div class="modal-header">
        <h5 class="modal-title">Tạo phiếu yêu cầu nhập kho </h5>
    </div>
    <div class="modal-body">
        <form name="frmCreate" role="form" class="needs-validation" novalidate="">
            <input value="@Model.IdSupplier" id="IdSupplier" hidden />
            <input type="text" value="@Model.OrderId" name="OrderId" id="OrderId" hidden />
            <div class="form-group row required">
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Kho nhập"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="WarehouseDestinationId" name="WarehouseDestinationId" asp-items="@Model.GetWarehouse()" required>
                        <option value="" selected disabled>Chọn Kho</option>
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn Kho.
                    </div>
                </div>
                <div class="col-md-4">
                   <label class=" col-form-label">@(new FixedLocalizableString("NCC"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="SupplierId" name="SuppilerId" disabled asp-items="@Model.GetSuppliers()" required>
                    </select>
                </div>
                <div class="col-md-4">
                     <label class=" col-form-label">@(new FixedLocalizableString("Trạng thái"))<span class="text-danger">*</span></label>
                    <select class="select2-placeholder-multiple form-control" id="ImportStatus" name="ImportStatus" disabled>
                        <option value="0" disabled selected hidden>Chưa xử lý</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Mã đơn đặt hàng"))<span class="text-danger">*</span></label>
                    <input type="text" name="OrderCode" class="form-control" value="@Model.OrderCode" disabled minlength="">
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Ngày yêu cầu"))<span class="text-danger">*</span></label>
                    <input type="text" autocomplete="off" class="form-control date-picker" value="@DateTime.Now.ToString("dd/MM/yyyy")" disabled placeholder="@(new FixedLocalizableString("Nhập ngày"))"
                           id="RequestDate" name="RequestDate" required>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Người yêu cầu"))<span class="text-danger">*</span></label>
                    <input type="text" name="CreatedBy" class="form-control" value="@Model.CreatedBy" disabled minlength="">
                </div>
            </div>
            <div class="col-md-12">
                <label class=" col-form-label">@(new FixedLocalizableString("Lý do nhập hàng"))</label>
                <textarea id="Note" name="Note" class="form-control"></textarea>
            </div>

            <div class="col-md-12">
                <label class=" col-form-label">@(new FixedLocalizableString("Thông tin hàng hóa"))</label>
                <table id="ItemTable" class="table table-bordered table-hover table-striped w-100">
                    <thead class="bg-primary-600">
                        <tr>
                            <th>STT</th>
                            <th>HÀNG HOÁ</th>
                            <th>GÍA/ĐVT</th>
                            <th>SL NHẬP</th>
                            <th>THỜI GIAN CẦN</th>
                            <th>ĐVT</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </form>
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancelAndHuy.cshtml")


