@using Abp.Localization
@using bbk.netcore.Web.Areas.Inventorys.Models.IMBSub
@using bbk.netcore.mdl.OMS.Core.Enums;
@model IndexViewModel
@section Header{

    <!-- should using in layouts -->
    <link href="~/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs-ext/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
        <!-- select 2 -->
    </environment>
    <environment names="Staging,Production">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs-ext/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ImportRequestDetailSubsidiarys/ViewDetail.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="/view-resources/Areas/PersonalProfile/_Bundles/documents.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ImportRequestDetailSubsidiarys/ViewDetail.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ImportRequestDetailSubsidiarys/_CreateModalContractReject.js" asp-append-version="true"></script>
    </environment>
}
<div class="row">
    <input value="@Model.subListDto.Id" name="Id" id="Id" hidden />
    <input value="@Model.IdSupplier" name="SuppilerId" id="SuppilerId" hidden />
    <input type="text" value="@ViewBag.email" id="email" hidden />
    <input type="text" value="@ViewBag.name" id="name" hidden />
    <ol class="breadcrumb breadcrumb-seperator-3">
        <li class="breadcrumb-item ">

            <a href="@Url.Action("Index", "Dashboard", "Inventorys")"> <i class="fal fa-home mr-1"></i>Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "ImportRequestSubsidiary", "Inventorys")">Yêu cầu nhập kho</a>
        </li>
        <li class="breadcrumb-item active"> Chi tiết yêu cầu nhập kho</li>
    </ol>
    <div class="col-xl-12 mb-4 mt-2">
        <div class="form-row align-items-center">
            <div class="">
                <a class="btn btn-primary ml-auto text-white btn-back" href="@Url.Action("Index", "ImportRequestSubsidiary", "Inventorys")">
                    <i class="fal fa-arrow-left"></i>
                </a>
            </div>
            <div class="d-flex flex-column ml-3">
                <h4 class="font-weight-bold"> Chi tiết yêu cầu nhập kho </h4>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <i class="fal fa-info-circle" style="color: #f19a5b;"></i>
                    Thông tin
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="infor-warehouse">
                                <p class="mb-2"><span class="font-weight-bold">Kho nhập: </span> @Model.NameWareHouse</p>
                                <p class="mb-2"><span class="font-weight-bold">Nhà cung cấp: </span> @Model.NameNCC</p>
                                <p class="mb-2"><span class="font-weight-bold">Ngày tạo phiếu: </span> @Model.subListDto.RequestDate.ToString("dd/MM/yyyy")</p>
                                <p class="mb-2"><span class="font-weight-bold">Người tạo phiếu: </span> @Model.CreatedBy</p>
                                <p class="mb-2"><span class="font-weight-bold">Ngày tạo phiếu: </span>@Model.subListDto.CreationTime.ToString("dd/MM/yyyy") </p>
                                <p class="mb-2"><span class="font-weight-bold">Trạng thái: </span>
                                    @if (Model.subListDto.ImportStatus == PurchasesRequestEnum.YCNK.Draft)
                                    {
                                    <p> Chờ xử lý</p>
                                    }
                                    else if (Model.subListDto.ImportStatus == PurchasesRequestEnum.YCNK.Reject)
                                    {
                                    <p>Từ chối</p>
                                    }
                                    else if (Model.subListDto.ImportStatus == PurchasesRequestEnum.YCNK.Original)
                                    {
                                    <p>Đã gửi</p>
                                    }
                                    else
                                    {
                                    <p>Phê duyệt</p>
                                    }
                                    </p>
                                <p class="mb-2"><span class="font-weight-bold">Lý do nhập kho: </span> @Model.subListDto.Note</p>
                                <table id="ItemTable" class="table table-bordered table-hover table-striped w-100">
                                    <thead class="bg-primary-600">
                                        <tr>
                                            <th>STT</th>
                                            <th>HÀNG HOÁ</th>
                                            <th>GÍA/ĐVT</th>
                                            <th>SL NHẬP</th>
                                            <th>THỜI GIAN CẦN</th>
                                            <th>ĐVT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                @if (IsGranted("Inventorys.YCNK.send"))
                                {
                                    @if (Model.subListDto.ImportStatus == PurchasesRequestEnum.YCNK.Draft)
                                    {
                                        <button id="SendTo" name="SendTo" data-obj="@Model.subListDto.Id" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                                            @(new FixedLocalizableString("Gửi"))
                                        </button>
                                    }
                                }
                            </div>
                            @if (IsGranted("Inventorys.YCNK.Confirm"))
                            {
                                @if (Model.subListDto.ImportStatus == PurchasesRequestEnum.YCNK.Original)
                                {
                                    <div class="col-xl-12 mt-4">
                                        <div class="row">
                                            <div class="col-1">
                                                <button class="btn btn-browse" data-quo="@Model.subListDto.Id" style="background: #58a572; color: #fff;">
                                                    Phê duyệt
                                                </button>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-reject" data-quo="@Model.subListDto.Id" style="background: #f56064; color: #fff;">Từ chối</button>
                                            </div>

                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-xl-12 mt-4">
                                        <div class="row">
                                            <div class="col-1">
                                                <button class="btn btn-browse" hidden data-quo="@Model.subListDto.Id" style="background: #58a572; color: #fff;">
                                                    Phê duyệt
                                                </button>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-reject" hidden data-quo="@Model.subListDto.Id" style="background: #f56064; color: #fff;">Từ chối</button>
                                            </div>

                                        </div>
                                    </div>

                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (IsGranted("Inventorys.YCNK.feedback"))
    {
        @if (Model.subListDto.ImportStatus == PurchasesRequestEnum.YCNK.Reject)
        {
            <div class="col-xl-12 mt-4">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <h2>
                            <span class="fw-300 add-Syn">    <i class="fal fa-info-circle" style="color: #f19a5b;"></i><i> Lý do Từ chối</i></span>
                        </h2>
                        <div class="panel-toolbar">
                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        </div>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="row d-flex">

                                <div class="col-12">
                                    @Html.Raw(Model.subListDto.Comment)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>