@using bbk.netcore.mdl.OMS.Application.PurchasesSynthesises.Dto;
@using bbk.netcore.mdl.OMS.Core.Enums;
@model QuotesSynthesisListDto
@section Header{

    <!-- should using in layouts -->
    <link href="~/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs/summernote/dist/summernote-bs4.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- select 2 -->
    </environment>
    <environment names="Staging,Production">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs/summernote/dist/summernote-bs4.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="/view-resources/Areas/Oms/Quote/CompareDetail.js" asp-append-version="true"></script>
        <script src="~/libs/summernote/dist/summernote-bs4.min.js" asp-append-version="true"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="/view-resources/Areas/Oms/Quote/CompareDetail.js" asp-append-version="true"></script>
        <script src="~/libs/summernote/dist/summernote-bs4.min.js" asp-append-version="true"></script>

    </environment>
}
<div class="row">
    @if (IsGranted("Inventorys.Quote.Edit"))
    {
        <ol class="breadcrumb breadcrumb-seperator-3">
            <li class="breadcrumb-item ">

                <a href="@Url.Action("Index", "Dashboard", "PersonalProfile")"> <i class="fal fa-home mr-1"></i>Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("BrowseQuotes", "Quote", "PersonalProfile")">Phê duyệt báo giá</a>
            </li>
            <li class="breadcrumb-item active">Chi tiết trình báo giá</li>
        </ol>
        <div class="col-xl-12 mb-4 mt-2">
            <div class="form-row align-items-center">
                <div class="">
                    <a class="btn btn-primary ml-auto text-white btn-back" href="@Url.Action("BrowseQuotes", "Quote","Inventory")">
                        <i class="fal fa-arrow-left"></i>
                    </a>
                </div>
                <div class="d-flex flex-column ml-3">
                    <h4 class="font-weight-bold add-Syn">Chi tiết trình báo giá  @*@Model.PurchasesSynthesiseCode*@ </h4>
                </div>
            </div>
        </div>
    }
    @if(IsGranted("Inventorys.Quote.Create"))
    {
        <ol class="breadcrumb breadcrumb-seperator-3">
            <li class="breadcrumb-item ">

                <a href="@Url.Action("Index", "Dashboard", "PersonalProfile")"> <i class="fal fa-home mr-1"></i>Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Compare", "Quote", "PersonalProfile")">Báo giá</a>
            </li>
            <li class="breadcrumb-item active">Chi tiết trình báo giá</li>
        </ol>
        <div class="col-xl-12 mb-4 mt-2">
            <div class="form-row align-items-center">
                <div class="">
                    <a class="btn btn-primary ml-auto text-white btn-back" href="@Url.Action("Compare", "Quote","Inventory")">
                        <i class="fal fa-arrow-left"></i>
                    </a>
                </div>
                <div class="d-flex flex-column ml-3">
                    <h4 class="font-weight-bold add-Syn">Chi tiết trình báo giá  @*@Model.PurchasesSynthesiseCode*@ </h4>
                </div>
            </div>
        </div>
    }
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300 add-Syn"><i class="fal fa-info-circle" style="color: #f19a5b;"></i><i>Thông tin tiết trình báo giá </i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row d-flex">
                        <div class="col-12">
                            <input value="@Model.Id" id="Id" hidden>
                            <p class="mb-2"><span class="font-weight-bold">Người mua hàng: </span><span id="UserNameSyn">@Model.CreateName</span>   </p>
                            <p class="mb-2"><span class="font-weight-bold">Mã trình báo giá: </span><span id="UserNameSyn">@Model.Code</span>   </p>
                            <p class="mb-2"><span class="font-weight-bold">Ngày tổng hợp: </span><span id="DateSyn">@Model.CreationTime.ToShortDateString()</span> </p>
                        </div>
                        <div class="col-12">
                            <!-- datatable start -->
                            <input value="@ViewBag.SynthesiseId" id="SynthesiseId" hidden>
                            <input type="text" value="@ViewBag.email" id="email" hidden />
                            <input type="text" value="@ViewBag.name" id="name" hidden />
                            <table id="QuoteSynTable" class="table table-bordered table-hover table-striped w-100">
                                <thead class="bg-primary-600">
                                    <tr>
                                        <th>STT</th>
                                        <th>MÃ HÀNG HÓA </th>
                                        <th>HÀNG HÓA</th>
                                        <th>NCC</th>
                                        <th>ĐVT</th>
                                        <th>ĐƠN GIÁ/ĐVT</th>
                                        <th>SỐ LƯỢNG</th>
                                        <th>GHI CHÚ</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <!-- datatable end -->
                            @if (IsGranted("Inventorys.Quote.Update"))
                            {
                                @if (Model.Status == QuoteEnum.SyntheticQuote.Draft || Model.Status == QuoteEnum.SyntheticQuote.Reject)
                                {
                                      <div class="col-lg-6 col-md-12 mb-3">
                                    <button id="Update" name="Update" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                                        @(new FixedLocalizableString("Chỉnh sửa"))
                                    </button>
                                      <button id="SendTo" name="SendTo" class="btn btn-sm btn-toolbar-full btn-primary ml-auto" data-obj="@Model.Id">
                                        @(new FixedLocalizableString("Gửi"))
                                    </button>
                                </div>
                                }
                              
                              
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (IsGranted("Inventorys.Quote.Edit"))
    {
        @if (Model.Status == QuoteEnum.SyntheticQuote.Original )
        {
            <div class="col-xl-12 mt-4">
                <div class="row">
                    <div class="col-1">
                        <button class="btn btn-browse" data-quo="@Model.Id" style="background: #58a572; color: #fff;">
                            Phê duyệt
                        </button>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-reject" data-quo="@Model.Id" style="background: #f56064; color: #fff;">Từ chối</button>
                    </div>

                </div>
            </div>

        }
        else
        {
            <div class="col-xl-12 mt-4">
                <div class="row">
                    <div class="col-1">
                        <button class="btn btn-browse" disabled data-quo="@Model.Id" style="background: #58a572; color: #fff; cursor: none;">
                            Phê duyệt
                        </button>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-reject" disabled data-quo="@Model.Id" style="background: #f56064; color: #fff;cursor: none;">Từ chối</button>
                    </div>

                </div>
            </div>

        }
    }
    @if (IsGranted("Inventorys.Quote.Feedback"))
    {
        @if ((int)Model.Status == 2)
        {
            <div class="col-xl-12 mt-4">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <h2>
                            <span class="fw-300 add-Syn">    <i class="fal fa-info-circle" style="color: #f19a5b;"></i><i> Lý do Từ chối</i></span>
                        </h2>
                        <div class="panel-toolbar">
                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        </div>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="row d-flex">

                                <div class="col-12">
                                    @Html.Raw(Model.Comment)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    @if (IsGranted("Inventorys.Quote.Update"))
    {
        <div class="col-xl-12 Quote-Update" style="display:none">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <span class="fw-300"><i>Cập nhật trình báo giá</i></span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="form-row">
                            <div class="col-lg-6 col-md-12 mb-3">
                                <input type="file"
                                       id="file1"
                                       name="upload" hidden>
                                <button id="Choose_btn" name="Choose" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                                    <span></span>
                                    @(new FixedLocalizableString("Cập nhật trình báo giá"))
                                </button>
                                <button id="Import_btn" name="Choose" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                                    <span></span>
                                    @(new FixedLocalizableString("Cập nhật giá"))
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-12 mb-3 d-flex">
                                <input type="text" id="SearchTerm" name="SearchTerm" placeholder="@(new FixedLocalizableString("Nhập tên/mã hàng hóa"))" class="form-control" required>
                                <button type="button" id="Search" class="btn btn-primary"><i class="fal fa-search"></i></button>
                            </div>
                        </div>

                        <!-- datatable start -->
                        <table id="QuoteTable" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-primary-600">
                                <tr>
                                    @* <th>HÀNG HÓA</th>*@
                                    <th>NCC</th>
                                    <th><input type="checkbox" name="select_all" value="1" id="example-select-all1"></th>
                                    <th>THÔNG SỐ KỸ THUẬT</th>
                                    <th>ĐVT</th>
                                    <th>ĐƠN GIÁ/ĐVT</th>
                                    <th>NGÀY BÁO GIÁ</th>
                                    <th>GHI CHÚ</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <!-- datatable end -->
                    </div>
                </div>
            </div>
        </div>
    }




</div>