@using bbk.netcore.Web.Areas.Inventorys.Models.Transfer
@{
    Layout = null;
}
@model TransferViewModel

<div class="modal-content" id="TransferEditModal">
    <div class="modal-header">
        <h5 class="modal-title">Sửa Yêu cầu điều chuyển </h5><button type="button" class="close" data-dismiss="modal"
                                                      aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <input type="text" hidden value="@Model.TransferList.Id" id="Id" />
    <input type="text" hidden value="@Model.TransferList.IdWarehouseExport" id="IdWh" />
    <div class="modal-body">
        <form name="frmCreate" role="form" class="needs-validation" novalidate="">
            <div class="form-group row required">
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Kho xuất"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="WarehouseDestinationId" disabled name="IdWarehouseExport" asp-items="@Model.GetWarehouse()" required>
                        <option value="" selected disabled>Chọn Kho</option>
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn Kho.
                    </div>
                </div>
                
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Ngày Tạo"))<span class="text-danger">*</span></label>
                    <input type="text" autocomplete="off" class="form-control date-picker" value="@Model.TransferList.CreationTime.ToString("MM/dd/yyyy")" id="RequestDate" name="BrowsingTime" disabled>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Người tao phiếu"))<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="@Model.CreatedBy" disabled minlength="">
                </div>
            </div>
            <div class="form-group row required">
                <div class="col-md-12">
                    <label class=" col-form-label">@(new FixedLocalizableString("Mô tả"))</label>
                    <textarea id="TransferNote" name="TransferNote" class="form-control">@Model.TransferList.TransferNote</textarea>
                </div>
            </div>
            
            <div class="col-md-12">
                <label class=" col-form-label">@(new FixedLocalizableString("Thông tin hàng hóa"))</label>
                <input id="fileupload" type=file name="files[]" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <table id="ItemTable" class="table table-bordered table-hover table-striped w-100">
                    <thead class="bg-primary-600">
                        <tr>
                            <th>STT</th>
                            <th>HÀNG HOÁ</th>
                            <th>GÍA NHẬP</th>
                            <th>SL ĐIỀU CHUYỂN</th>
                            <th>TỒN KHO</th>
                            <th>ĐƠN VỊ TÍNH</th>
                            <th>KHO NHẬN</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </form>
       
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancelAndHuy.cshtml")




