@using Abp.Localization
@using bbk.netcore.mdl.OMS.Application.Contracts.Dto
@using bbk.netcore.mdl.OMS.Core.Enums

@model ContractListDto
@section Header{

    <!-- should using in layouts -->
    <link href="~/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs/summernote/dist/summernote-bs4.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- select 2 -->
    </environment>
    <environment names="Staging,Production">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs/summernote/dist/summernote-bs4.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/libs/summernote/dist/summernote-bs4.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/Contracts/Print.js" charset="UTF-8" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="/view-resources/Areas/PersonalProfile/_Bundles/documents.min.js" asp-append-version="true"></script>
        <script src="~/libs/summernote/dist/summernote-bs4.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/Contracts/Print.js" charset="UTF-8" asp-append-version="true"></script>

    </environment>
}
<div class="row d-print-none">
    <input value="@Model.Id" name="Id" id="Id" hidden />
    <input value="@Model.SupplierId" id="SupplierId" hidden />
    <input value="@Model.QuoteSynId" id="QuoteSynId" hidden />
    
    @if (IsGranted("Inventorys.Contract.Create"))
    {
        <ol class="breadcrumb breadcrumb-seperator-3">
            <li class="breadcrumb-item ">

                <a href="@Url.Action("Index", "Dashboard", "PersonalProfile")"> <i class="fal fa-home mr-1"></i>Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Contract", "PersonalProfile")">Hợp đồng</a>
            </li>
            <li class="breadcrumb-item active"> Chi tiết hợp đồng</li>
        </ol>
        <div class="col-xl-12 mb-4 mt-2">
            <div class="form-row align-items-center">
                <div class="">
                    <a class="btn btn-primary ml-auto text-white btn-back" href="@Url.Action("Index", "Contract", "PersonalProfile")">
                        <i class="fal fa-arrow-left"></i>
                    </a>
                </div>
                <div class="d-flex flex-column ml-3">
                    <h4 class="font-weight-bold">Chi tiết hợp đồng </h4>
                </div>
            </div>
        </div>
    }

    @if (IsGranted("Inventorys.Contract.Edit"))
    {
        <ol class="breadcrumb breadcrumb-seperator-3">
            <li class="breadcrumb-item ">

                <a href="@Url.Action("Index", "Dashboard", "PersonalProfile")"> <i class="fal fa-home mr-1"></i>Trang chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("ApproveContract", "Contract", "PersonalProfile")">Phê duyệt Hợp đồng</a>
            </li>
            <li class="breadcrumb-item active"> Chi tiết hợp đồng</li>
        </ol>
        <div class="col-xl-12 mb-4 mt-2">
            <div class="form-row align-items-center">
                <div class="">
                    <a class="btn btn-primary ml-auto text-white btn-back" href="@Url.Action("ApproveContract", "Contract", "PersonalProfile")">
                        <i class="fal fa-arrow-left"></i>
                    </a>
                </div>
                <div class="d-flex flex-column ml-3">
                    <h4 class="font-weight-bold">Chi tiết hợp đồng </h4>
                </div>
            </div>
        </div>
    }

    
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <i class="fal fa-info-circle mr-2" style="color: #f19a5b;"></i>
                    Thông tin
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    @*<button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>*@
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row mt-2 pl-1 pr-1">
                        <input type="text" value="@ViewBag.email" id="email" hidden />
                        <input type="text" value="@ViewBag.name" id="name" hidden />
                        <input type="text" value="@ViewBag.emailGD " id="emailGD" hidden />
                        <input type="text" value="@ViewBag.nameGD" id="nameGD" hidden />
                        <div class="col-12">
                            <p class="mb-1"><span class="font-weight-bold">Mã hợp đồng</span>: @Model.Code</p>
                            <p class="mb-1"><span class="font-weight-bold">Mã trình báo giá</span>: <span id="codeSyn"></span></p>
                            <p class="mb-1"><span class="font-weight-bold">Nhà cung cấp</span>: <span class="nameSup"></span></p>
                           
                        </div>
                        <div class="col-12 infor-warehouse">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h4>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h4>
                                    <P><i>Độc lập - Tự do - Hạnh phúc</i></P>
                                </div>
                                <div class="col-12 text-center mt-3">
                                    <h4 class="font-weight-bold">HỢP ĐỒNG MUA BÁN HÀNG</h4>
                                    <p class="font-weight-bold">Số: <span>@Model.CreationTime.Month</span>/<span>@Model.CreationTime.Year</span>/ @Model.Code</p>
                                </div>
                               <div class="col-12">
                                   <p><i>- Căn cứ Bộ luật Dân sự số 91/2015/QH13 ngày 24/11/2015 và các văn bản pháp luật liên quan;</i></p>
                                   <p><i>- Căn cứ Luật Thương mại số 36/2005/QH11 ngày 14/06/2005 và các văn bản pháp luật liên quan;</i></p>
                                   <p><i>- Căn cứ vào nhu cầu và khả năng của các bên;</i></p>
                                   <p>Hôm nay, ngày <span>@Model.CreationTime.Day</span>, tháng <span>@Model.CreationTime.Month </span>, năm <span>@Model.CreationTime.Year</span></p>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold text-uppercase">BÊN BÁN ("BÊN A"): <span class="nameSup"></span></p>
                                   <p><span class="font-weight-bold ">ĐỊA CHỈ:</span> <span class="AddressSeller"></span></p>
                                   <p><span class="font-weight-bold ">MÃ SỐ THUẾ:</span> <span class="CodeSeller"></span></p>
                                   <p><span class="font-weight-bold ">ĐIỆN THOẠI:</span> <span class="PhoneSeller"></span> <span class="ml-5 font-weight-bold">FAX:</span> <span class="FaxSeller"></span></p>
                                    <div class="mb-2">
                                       <span class="font-weight-bold ">ĐẠI DIỆN:</span> <div class="d-inline-block"><input id="RepresentA" type="text" class="input-contract" value="@Model.RepresentA"/></div>
                                       <span class="ml-5 font-weight-bold">CHỨC VỤ</span> <div class="d-inline-block"><input id="PositionA" type="text" class="input-contract" value="@Model.PositionA"/></div>
                                    </div>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold ">BÊN MUA ("BÊN B"):  CÔNG TY CPTM VIỆT SUPPLY</p>
                                   <p><span class="font-weight-bold ">ĐỊA CHỈ:</span> <span>VP tầng 3 - khách sạn Vissai - 848 Trần Hưng Đạo, phường Tân Thành - TP Ninh Bình.</span></p>
                                   <p><span class="font-weight-bold ">MÃ SỐ THUẾ:</span> <span>2700914387</span></p>
                                   <p><span class="font-weight-bold ">ĐIỆN THOẠI:</span> 02293.896.999 <span class="ml-5 font-weight-bold">FAX:</span></p>
                                   <div class="mb-5">
                                       <span class="font-weight-bold ">ĐẠI DIỆN:</span> <div class="d-inline-block"><input id="RepresentB" type="text" class="input-contract" value="@Model.RepresentB"/></div>
                                       <span class="ml-5 font-weight-bold">CHỨC VỤ</span> <div class="d-inline-block"><input id="PositionB" type="text" class="input-contract" value="@Model.PositionB"/></div>
                                    </div>

                                   <p>Trên cơ sở thoả thuận, hai bên thống nhất ký kết hợp đồng mua bán hàng hoá với các điều khoản sau đây:</p>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold ">ĐIỀU 1: TÊN HÀNG - SỐ LƯỢNG - CHẤT LƯỢNG - GIÁ TRỊ HỢP ĐỒNG </p>
                                   <p>Đơn vị tính: Việt Nam đồng</p>
                                   <div id="TableItemContent">

                                   </div>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold ">ĐIỀU 2: THANH TOÁN</p>
                                   <p>1. Bên Mua phải thanh toán cho Bên Bán số tiền ghi tại Điều 1 của Hợp đồng vào ngày......</p>
                                   <p>2. Bên Mua thanh toaán cho Bên Bán theo hình thức chuyển khoản vào tài khoản của Bên Bán chi tiết như sau:</p>
                                   <div class="mb-2">Tên ngân hàng: <div class="d-inline-block"><input id="BankName" type="text" class="input-contract" value="@Model.BankName"/></div></div>
                                   <div class="mb-2">Số tài khoản: <div class="d-inline-block"><input id="STK" type="text" class="input-contract" value="@Model.Stk"/></div></div>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold ">ĐIỀU 3. THỜI GIAN, ĐỊA ĐIỂM VÀ PHƯƠNG THỨC GIAO HÀNG</p>

                                   <div class="mb-2">1. Việc bàn giao hợp đồng cho Bên Mua được thực hiện vào ngày <div class="d-inline-block"><input id="sellerDate" type="date" class="input-contract" value="@Model.SellerDate.ToString("yyyy-MM-dd")"/></div></div>
                                   <p>2. Địa điểm giao nhận hàng tại Trụ sở của Bên Mua: VP tầng 3 - khách sạn Vissai - 848 Trần Hưng Đạo, phường Tân Thành - TP Ninh Bình.</p>
                                   <p>3. Phương tiện vận chuyển và chi phí vận chuyển do Bên Bán chịu. Chi phí bốc xếp mỗi bên chịu một đầu.</p>
                                   <div class="mb-2">4. Quy định lịch giao nhận hàng hoá mà Bên Mua không đến nhận hàng thì phải chịu chi phí lưu kho bãi là  <div class="d-inline-block"><input id="Price" type="text" class="input-contract" value="@Model.Price"/></div> đồng/ngày. Nếu phương tiện vận chuyển Bên Mua đến mà Bên Bán không có hàng giao thì Bên Bán phải chịu chi phí thực tế cho việc điều động phương tiện.</div>
                                   <p>5. Khi nhận hàng, Bên Mua có trách nhiệm kiểm nhận phẩm chất, quy cách hàng hoá tại chỗ. Nếu phát hiện hàng thiếu hoặc không đúng tiêu chuẩn chất lượng v.v... thì lập biên bản tại chỗ, yêu cầu Bên Bán xác nhận. Hàng đã ra khỏi kho Bên Bán không chịu trách nhiệm (trừ loại hàng có quy định thời hạn bảo hành).</p>
                                   <p>6. Trường hợp giao nhận hàng theo nguyên đai, nguyên kiện, nếu Bên Mua sau khi chở về nhập kho mới hiện có vi phạm thì phải lập biên bản gọi cơ quan kiểm tra trung gian đến xác nhận và phải gửi đến Bên Bán trong hạn 10 ngày tính từ khi lập biên bản. Sau 15 ngày nếu Bên Bán đã nhận được biên bản mà không có ý kiến gì thì coi như đã chịu trách nhiệm bồi thường lô hàng đó.</p>
                                   <p>7. Mỗi lô hàng khi giao nhận phải có xác nhận chất lượng bằng phiếu hoặc biên bản kiểm nghiệm; khi đến nhận hàng, nguồi nhận phải có đủ:</p>
                                   <p>- Giấy giới thiệu của cơ quan Bên Mua;</p>
                                   <p>- Phiếu xuất kho của cơ quan Bên Bán;</p>
                                   <p>- Giấy chứng minh nhân dân.</p>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold ">ĐIỀU 4. TRÁCH NHIỆM CỦA CÁC BÊN</p>

                                   <p>1. Bên Bán không chịu trách nhiệm về bất kỳ khiếm khuyết nào của hàng hoá nếu vào thời điểm giao kết hợp đồng bên mua đã biết hoặc phải biết về những khiếm khuyết đó;</p>
                                   <p>2. Trừ trường hợp quy định tại khoản 1 Điều này, trong thời hạn khiếu nại theo quy định của Luật thương mại 2005, bên bán phải chịu trách nhiệm về bất kỳ khiếm khuyết nào của hàng hoá đã có trước thời điểm chuyển rủi ro cho bên mua, kể cả trường hợp khiếm khuyết đó được phát hiện sau thời điểm chuyển rủi ro;</p>
                                   <p>3. Bên bán phải chịu trách nhiệm về khiếm khuyết của hàng hóa phát sinh sau thời điểm chuyển rủi ro nếu khiếm khuyết đó do bên bán vi phạm hợp đồng.</p>
                                   <p>4. Bên mua có trách nhiệm thanh toán và nhận hàng theo đúng thời gian đã thỏa thuận.</p>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold ">ĐIỀU 5: BẢO HÀNH VÀ HƯỚNG DẪN SỬ DỤNG HÀNG HÓA</p>
                               
                                   <div class="mb-2">1. Bên Bán có trách nhiệm bảo hành chất lượng và giá trị sử dụng loại hàng trên cho bên mua trong thời gian là <div class="d-inline-block"><input id="MouthNumber" type="number" class="input-contract" value="@Model.MouthNumber"/></div> tháng.</div>
                                   <p>2. Bên Bán phải cung cấp đủ mỗi đơn vị hàng hóa một giấy hướng dẫn sử dụng (nếu cần).</p>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold ">ĐIỀU 6: NGƯNG THANH TOÁN TIỀN MUA HÀNG</p>

                                   <p>Việc ngừng thanh toán tiền mua hàng được quy định như sau:</p>
                                   <p>1. Bên B có bằng chứng về việc bên A lừa dối thì có quyền tạm ngừng việc thanh toán;</p>
                                   <p>2. Bên B có bằng chứng về việc hàng hóa đang là đối tượng bị tranh chấp thì có quyền tạm ngừng thanh toán cho đến khi việc tranh chấp đã được giải quyết;</p>
                                   <p>3. Bên B có bằng chứng về việc bên A đã giao hàng không phù hợp với hợp đồng thì có quyền tạm ngừng thanh toán cho đến khi bên A đã khắc phục sự không phù hợp đó;</p>
                                   <p>4. Trường hợp tạm ngừng thanh toán theo quy định tại khoản 2 và khoản 3 Điều này mà bằng chứng do bên B đưa ra không xác thực, gây thiệt hại cho bên A thì bên B phải bồi thường thiệt hại đó và chịu các chế tài khác theo quy định của pháp luật.</p>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold ">ĐIỀU 7: ĐIỀU KHOẢN PHẠT VI PHẠM HỢP ĐỒNG</p>

                                   <div class="mb-2">1. Hai bên cam kết thực hiện nghiêm túc các điều khoản đã thỏa thuận trên, không được đơn phương thay đổi hoặc hủy bỏ hợp đồng, bên nào không thực hiện hoặc đơn phương đình chỉ thực hiện hợp đồng mà không có lý do chính đáng thì sẽ bị phạt tới <div class="d-inline-block"><input id="Indemnify" type="number" class="input-contract" value="@Model.Indemnify"/></div>% giá trị của hợp đồng bị vi phạm.</div>
                                   <p>2. Bên nào vi phạm các điều khoản trên đây sẽ phải chịu trách nhiệm vật chất theo quy định của các văn bản pháp luật có hiệu lực hiện hành về phạt vi phạm chất lượng, số lượng, thời gian, địa điểm, thanh toán, bảo hành v.v… mức phạt cụ thể do hai bên thỏa thuận dựa trên khung phạt Nhà nước đã quy định trong các văn bản pháp luật về loại hợp đồng này.</p>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold ">ĐIỀU 8: BẤT KHẢ KHÁNG VÀ GIẢI QUYẾT TRANH CHẤP</p>

                                   <p>1. Bất khả kháng nghĩa là các sự kiện xảy ra một cách khách quan, không thể lường trước được và không thể khắc phục được mặc dù đã áp dụng mọi biện pháp cần thiết trong khả năng cho phép, một trong các Bên vẫn không có khả năng thực hiện được nghĩa vụ của mình theo Hợp đồng này; gồm nhưng không giới hạn ở: thiên tai, hỏa hoạn, lũ lụt, chiến tranh, can thiệp của chính quyền bằng vũ trang, cản trở giao thông vận tải và các sự kiện khác tương tự.</p>
                                   <p>2. Khi xảy ra sự kiện bất khả kháng, bên gặp phải bất khả kháng phải không chậm chễ, thông báo cho bên kia tình trạng thực tế, đề xuất phương án xử lý và nỗ lực giảm thiểu tổn thất, thiệt hại đến mức thấp nhất có thể.</p>
                                   <p>3. Trừ trường hợp bất khả kháng, hai bên phải thực hiện đầy đủ và đúng thời hạn các nội dung của hợp đồng này. Trong quá trình thực hiện hợp đồng, nếu có vướng mắc từ bất kỳ bên nào, hai bên sẽ cùng nhau giải quyết trên tinh thần hợp tác. Trong trường hợp không tự giải quyết được, hai bên thống nhất đưa ra giải quyết tại Tòa án có thẩm quyền. Phán quyết của tòa án là quyết định cuối cùng, có giá trị ràng buộc các bên. Bên thua phải chịu toàn bộ các chi phí giải quyết tranh chấp.</p>
                               </div>
                               <div class="col-12">
                                   <p class="font-weight-bold ">ĐIỀU 9: ĐIỀU KHOẢN CHUNG</p>

                                   <p>1. Việc thay đổi tên của Bên Mua trên hợp đồng và/hoặc trên hoá đơn sẽ không được chấp nhận.</p>
                                   <p>2. Hợp đồng này có giá trị thay thế mọi giao dịch, thỏa thuận trước đây của hai bên. Mọi sự bổ sung, sửa đổi hợp đồng này đều phải có sự đồng ý bằng văn bản của hai bên.</p>
                                   <p>3. Trừ các trường hợp được quy định ở trên, Hợp đồng này không thể bị hủy bỏ nếu không có thỏa thuận bằng văn bản của các bên. Trong trường hợp hủy hợp đồng, trách nhiệm liên quan tới phạt vi phạm và bồi thường thiệt hại được bảo lưu.</p>
                                   <p>4. Hợp đồng này được lập thành 02 (hai) bản, có giá trị như nhau. Mỗi bên giữ 01 (một) bản và có giá trị pháp lý như nhau.</p>
                                   <p>5. Hợp đồng này có hiệu lực kể từ ngày ký và được coi là đã thanh lý khi Bên B đã nhận đủ tiền và Bên A đã nhận hàng.</p>
                               </div>
                               <div class="col-12">
                                   <div class="row">
                                       <div class="col-6 text-center">
                                           <p class="font-weight-bold ">ĐẠI DIỆN BÊN A</p>
                                           <p>Chức vụ</p>
                                           <p>(Ký tên, đóng dấu)</p>
                                       </div>
                                       <div class="col-6 text-center">
                                           <p class="font-weight-bold ">ĐẠI DIỆN BÊN B</p>
                                           <p>Chức vụ</p>
                                           <p>(Ký tên, đóng dấu)</p>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    @if (IsGranted("Inventorys.Contract.Create"))
                    {
                        <div class="row mt-3">
                            @if (Model.Status == ContractEnum.ContractStatus.Draft)
                            {

                                <div class="col-9">
                                    <button id="btn-contract_Edit" class="btn btn-toolbar-full waves-effect waves-themed mr-2">
                                        Sửa
                                    </button>
                                    <button id="btn-contract_Save" class="btn btn-toolbar-full waves-effect waves-themed mr-2">
                                        Lưu
                                    </button>
                                    <button id="btn-contract_Submit" class="btn btn-toolbar-full waves-effect waves-themed">
                                        Gửi
                                    </button>
                                </div>

                            }
                            @if (Model.Status == ContractEnum.ContractStatus.Original || Model.Status == ContractEnum.ContractStatus.Contract)
                            {
                                <div class="col-9"></div>
                            }
                            @if(Model.Status == ContractEnum.ContractStatus.Reject || Model.Status == ContractEnum.ContractStatus.RejectManager)
                            {
                                <div class="col-9">
                                    <button id="btn-contract_Edit" class="btn btn-toolbar-full waves-effect waves-themed mr-2">
                                        Sửa
                                    </button>
                                    <button id="btn-contract_Save" class="btn btn-toolbar-full waves-effect waves-themed mr-2">
                                        Lưu
                                    </button>
                                    <button id="btn-contract_Submit" class="btn btn-toolbar-full waves-effect waves-themed">
                                        Gửi lại
                                    </button>
                                </div>
                            }
                            @if (Model.Status == ContractEnum.ContractStatus.Approve)
                            {
                                <div class="col-9">
                                    <button id="btn-contract_Contract" class="btn btn-toolbar-full btn-primary waves-effect waves-themed mr-2">
                                        NCC xác nhận
                                    </button>
                                    
                                </div>
                            }
                            <div class="col-3 text-right">
                                    <button id="btnPrint" class="btn btn-toolbar-full btn-success  waves-effect waves-themed">
                                        <span class="fal fa-print"></span>
                                        In Phiếu
                                    </button>
                                    <button id="btnDoc" class="btn btn-toolbar-full waves-effect waves-themed">
                                        Xuất ra Word
                                    </button>
                                </div>
                         </div>
                    }
                    
                    @if (IsGranted("Inventorys.Contract.Edit"))
                    {
                        @if (IsGranted("Inventorys.Quote.Edit"))
                        {
                                <div class="row mt-3">
                                @if(Model.Status == ContractEnum.ContractStatus.Original)
                                {
                           
                                    <div class="col-9">
                                        <button id="btn-contract_Reject" class="btn btn-toolbar-full waves-effect waves-themed mr-2">
                                            Từ chối
                                        </button>
                                        <button id="btn-contract_SubApp" class="btn btn-toolbar-full waves-effect waves-themed">
                                            Gửi duyệt
                                        </button>
                                    </div>
                                
                                }
                                @if(Model.Status == ContractEnum.ContractStatus.Reject || Model.Status == ContractEnum.ContractStatus.Waiting || Model.Status == ContractEnum.ContractStatus.RejectManager)
                                {
                                    <div class="col-9">
                                        <button id="btn-contract_Reject" style="cursor: default; opacity: 0.4;" class="btn btn-toolbar-full waves-effect waves-themed mr-2" disabled>
                                            Từ chối
                                        </button>
                                        <button id="btn-contract_SubApp" style="cursor: default; opacity: 0.4;" class="btn btn-toolbar-full waves-effect waves-themed" disabled>
                                            Gửi duyệt
                                        </button>
                                    </div>
                                }
                                @if(Model.Status == ContractEnum.ContractStatus.Contract)
                                {
                           
                                    <div class="col-9">
                                        
                                    </div>
                                
                                }
                                <div class="col-3 text-right">
                                        <button id="btnPrint" class="btn btn-toolbar-full btn-success  waves-effect waves-themed">
                                            <span class="fal fa-print"></span>
                                            In Phiếu
                                        </button>
                                        <button id="btnDoc" class="btn btn-toolbar-full waves-effect waves-themed">
                                            Xuất ra Word
                                        </button>
                                    </div>
                            </div>
                        }
                        else
                        {
                            <div class="row mt-3">
                                @if(Model.Status == ContractEnum.ContractStatus.Waiting)
                                {
                           
                                    <div class="col-9">
                                        <button id="btn-contract_Reject" class="btn btn-toolbar-full waves-effect waves-themed mr-2">
                                            Từ chối
                                        </button>
                                        <button id="btn-contract_Approve" class="btn btn-toolbar-full waves-effect waves-themed">
                                            Duyệt
                                        </button>
                                    </div>
                                
                                }
                                @if(Model.Status == ContractEnum.ContractStatus.Reject || Model.Status == ContractEnum.ContractStatus.Approve)
                                {
                                     <div class="col-9">
                                        <button id="btn-contract_Reject" style="cursor: default; opacity: 0.4;" class="btn btn-toolbar-full waves-effect waves-themed mr-2" disabled>
                                            Từ chối
                                        </button>
                                        <button id="btn-contract_Approve" style="cursor: default; opacity: 0.4;" class="btn btn-toolbar-full waves-effect waves-themed" disabled>
                                            Duyệt
                                        </button>
                                    </div>
                                }
                                @if(Model.Status == ContractEnum.ContractStatus.Contract)
                                {
                           
                                    <div class="col-9">
                                        
                                    </div>
                                
                                }
                                <div class="col-3 text-right">
                                        <button id="btnPrint" class="btn btn-toolbar-full btn-success  waves-effect waves-themed">
                                            <span class="fal fa-print"></span>
                                            In Phiếu
                                        </button>
                                        <button id="btnDoc" class="btn btn-toolbar-full waves-effect waves-themed">
                                            Xuất ra Word
                                        </button>
                                    </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    @if (IsGranted("Inventorys.Contract.Create"))
    {
        @if(Model.Status == ContractEnum.ContractStatus.Reject || Model.Status == ContractEnum.ContractStatus.RejectManager)
    {
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <i class="fal fa-info-circle mr-2" style="color: #f19a5b;"></i>
                        Lý do từ chối
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        @*<button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>*@
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="row mt-2 pl-1 pr-1">
                            <div class="col-12">
                                @Html.Raw(Model.Comment)
                            
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    }
    }
    
</div>

<div class="row" id="Content-Contract">
    <div class="col-12 text-center">
        <h4>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h4>
        <P><i>Độc lập - Tự do - Hạnh phúc</i></P>
    </div>
    <div class="col-12 text-center mt-3">
        <h4 class="font-weight-bold">HỢP ĐỒNG MUA BÁN HÀNG</h4>
        <p class="font-weight-bold">Số: <span>@Model.CreationTime.Month</span>/<span>@Model.CreationTime.Year</span>/ @Model.Code</p>
    </div>
    <div class="col-12">
        <p><i>- Căn cứ Bộ luật Dân sự số 91/2015/QH13 ngày 24/11/2015 và các văn bản pháp luật liên quan;</i></p>
        <p><i>- Căn cứ Luật Thương mại số 36/2005/QH11 ngày 14/06/2005 và các văn bản pháp luật liên quan;</i></p>
        <p><i>- Căn cứ vào nhu cầu và khả năng của các bên;</i></p>
        <p>Hôm nay, ngày <span>@Model.CreationTime.Day</span>, tháng <span>@Model.CreationTime.Month </span>, năm <span>@Model.CreationTime.Year</span></p>
    </div>
    <div class="col-12">
        <p class="font-weight-bold text-uppercase">BÊN BÁN ("BÊN A"): <span class="nameSup"></span></p>
        <p><span class="font-weight-bold ">ĐỊA CHỈ:</span> <span class="AddressSeller"></span></p>
        <p><span class="font-weight-bold ">MÃ SỐ THUẾ:</span> <span class="CodeSeller"></span></p>
        <p><span class="font-weight-bold ">ĐIỆN THOẠI:</span> <span class="PhoneSeller"></span> <span class="ml-5 font-weight-bold">FAX:</span> <span class="FaxSeller"></span></p>
        <div class="mb-2">
            <span class="font-weight-bold ">ĐẠI DIỆN:</span> <div class="d-inline-block"><span>@Model.RepresentA</span></div>
            <span class="ml-5 font-weight-bold">CHỨC VỤ</span> <div class="d-inline-block"><span>@Model.PositionA</span></div>
        </div>
    </div>
    <div class="col-12">
        <p class="font-weight-bold ">BÊN MUA ("BÊN B"):  CÔNG TY CPTM VIỆT SUPPLY</p>
        <p><span class="font-weight-bold ">ĐỊA CHỈ:</span> <span>VP tầng 3 - khách sạn Vissai - 848 Trần Hưng Đạo, phường Tân Thành - TP Ninh Bình.</span></p>
        <p><span class="font-weight-bold ">MÃ SỐ THUẾ:</span> <span>2700914387</span></p>
        <p><span class="font-weight-bold ">ĐIỆN THOẠI:</span> 02293.896.999 <span class="ml-5 font-weight-bold">FAX:</span></p>
        <div class="mb-5">
            <span class="font-weight-bold ">ĐẠI DIỆN:</span> <div class="d-inline-block"><span>@Model.RepresentB</span></div>
            <span class="ml-5 font-weight-bold">CHỨC VỤ</span> <div class="d-inline-block"><span>@Model.PositionB</span></div>
        </div>

        <p>Trên cơ sở thoả thuận, hai bên thống nhất ký kết hợp đồng mua bán hàng hoá với các điều khoản sau đây:</p>
    </div>
    <div class="col-12">
        <p class="font-weight-bold ">ĐIỀU 1: TÊN HÀNG - SỐ LƯỢNG - CHẤT LƯỢNG - GIÁ TRỊ HỢP ĐỒNG </p>
        <p>Đơn vị tính: Việt Nam đồng</p>
        <div id="TableItemContentAction">

        </div>
    </div>
    <div class="col-12">
        <p class="font-weight-bold ">ĐIỀU 2: THANH TOÁN</p>
        <p>1. Bên Mua phải thanh toán cho Bên Bán số tiền ghi tại Điều 1 của Hợp đồng vào ngày......</p>
        <p>2. Bên Mua thanh toaán cho Bên Bán theo hình thức chuyển khoản vào tài khoản của Bên Bán chi tiết như sau:</p>
        <div class="mb-2">Tên ngân hàng: <div class="d-inline-block">  <span>@Model.BankName</span></div></div>
        <div class="mb-2">Số tài khoản: <div class="d-inline-block">  <span>@Model.Stk</span></div></div>
    </div>
    <div class="col-12">
        <p class="font-weight-bold ">ĐIỀU 3. THỜI GIAN, ĐỊA ĐIỂM VÀ PHƯƠNG THỨC GIAO HÀNG</p>

        <div class="mb-2">1. Việc bàn giao hợp đồng cho Bên Mua được thực hiện vào ngày <div class="d-inline-block"><span>@Model.SellerDate.ToShortDateString()</span></div></div>
        <p>2. Địa điểm giao nhận hàng tại Trụ sở của Bên Mua: VP tầng 3 - khách sạn Vissai - 848 Trần Hưng Đạo, phường Tân Thành - TP Ninh Bình.</p>
        <p>3. Phương tiện vận chuyển và chi phí vận chuyển do Bên Bán chịu. Chi phí bốc xếp mỗi bên chịu một đầu.</p>
        <div class="mb-2">4. Quy định lịch giao nhận hàng hoá mà Bên Mua không đến nhận hàng thì phải chịu chi phí lưu kho bãi là  <div class="d-inline-block"> <span>@Model.Price</span></div> đồng/ngày. Nếu phương tiện vận chuyển Bên Mua đến mà Bên Bán không có hàng giao thì Bên Bán phải chịu chi phí thực tế cho việc điều động phương tiện.</div>
        <p>5. Khi nhận hàng, Bên Mua có trách nhiệm kiểm nhận phẩm chất, quy cách hàng hoá tại chỗ. Nếu phát hiện hàng thiếu hoặc không đúng tiêu chuẩn chất lượng v.v... thì lập biên bản tại chỗ, yêu cầu Bên Bán xác nhận. Hàng đã ra khỏi kho Bên Bán không chịu trách nhiệm (trừ loại hàng có quy định thời hạn bảo hành).</p>
        <p>6. Trường hợp giao nhận hàng theo nguyên đai, nguyên kiện, nếu Bên Mua sau khi chở về nhập kho mới hiện có vi phạm thì phải lập biên bản gọi cơ quan kiểm tra trung gian đến xác nhận và phải gửi đến Bên Bán trong hạn 10 ngày tính từ khi lập biên bản. Sau 15 ngày nếu Bên Bán đã nhận được biên bản mà không có ý kiến gì thì coi như đã chịu trách nhiệm bồi thường lô hàng đó.</p>
        <p>7. Mỗi lô hàng khi giao nhận phải có xác nhận chất lượng bằng phiếu hoặc biên bản kiểm nghiệm; khi đến nhận hàng, nguồi nhận phải có đủ:</p>
        <p>- Giấy giới thiệu của cơ quan Bên Mua;</p>
        <p>- Phiếu xuất kho của cơ quan Bên Bán;</p>
        <p>- Giấy chứng minh nhân dân.</p>
    </div>
    <div class="col-12">
        <p class="font-weight-bold ">ĐIỀU 4. TRÁCH NHIỆM CỦA CÁC BÊN</p>

        <p>1. Bên Bán không chịu trách nhiệm về bất kỳ khiếm khuyết nào của hàng hoá nếu vào thời điểm giao kết hợp đồng bên mua đã biết hoặc phải biết về những khiếm khuyết đó;</p>
        <p>2. Trừ trường hợp quy định tại khoản 1 Điều này, trong thời hạn khiếu nại theo quy định của Luật thương mại 2005, bên bán phải chịu trách nhiệm về bất kỳ khiếm khuyết nào của hàng hoá đã có trước thời điểm chuyển rủi ro cho bên mua, kể cả trường hợp khiếm khuyết đó được phát hiện sau thời điểm chuyển rủi ro;</p>
        <p>3. Bên bán phải chịu trách nhiệm về khiếm khuyết của hàng hóa phát sinh sau thời điểm chuyển rủi ro nếu khiếm khuyết đó do bên bán vi phạm hợp đồng.</p>
        <p>4. Bên mua có trách nhiệm thanh toán và nhận hàng theo đúng thời gian đã thỏa thuận.</p>
    </div>
    <div class="col-12">
        <p class="font-weight-bold ">ĐIỀU 5: BẢO HÀNH VÀ HƯỚNG DẪN SỬ DỤNG HÀNG HÓA</p>
                               
        <div class="mb-2">1. Bên Bán có trách nhiệm bảo hành chất lượng và giá trị sử dụng loại hàng trên cho bên mua trong thời gian là <div class="d-inline-block">  <span>@Model.MouthNumber</span></div> tháng.</div>
        <p>2. Bên Bán phải cung cấp đủ mỗi đơn vị hàng hóa một giấy hướng dẫn sử dụng (nếu cần).</p>
    </div>
    <div class="col-12">
        <p class="font-weight-bold ">ĐIỀU 6: NGƯNG THANH TOÁN TIỀN MUA HÀNG</p>

        <p>Việc ngừng thanh toán tiền mua hàng được quy định như sau:</p>
        <p>1. Bên B có bằng chứng về việc bên A lừa dối thì có quyền tạm ngừng việc thanh toán;</p>
        <p>2. Bên B có bằng chứng về việc hàng hóa đang là đối tượng bị tranh chấp thì có quyền tạm ngừng thanh toán cho đến khi việc tranh chấp đã được giải quyết;</p>
        <p>3. Bên B có bằng chứng về việc bên A đã giao hàng không phù hợp với hợp đồng thì có quyền tạm ngừng thanh toán cho đến khi bên A đã khắc phục sự không phù hợp đó;</p>
        <p>4. Trường hợp tạm ngừng thanh toán theo quy định tại khoản 2 và khoản 3 Điều này mà bằng chứng do bên B đưa ra không xác thực, gây thiệt hại cho bên A thì bên B phải bồi thường thiệt hại đó và chịu các chế tài khác theo quy định của pháp luật.</p>
    </div>
    <div class="col-12">
        <p class="font-weight-bold ">ĐIỀU 7: ĐIỀU KHOẢN PHẠT VI PHẠM HỢP ĐỒNG</p>

        <div class="mb-2">1. Hai bên cam kết thực hiện nghiêm túc các điều khoản đã thỏa thuận trên, không được đơn phương thay đổi hoặc hủy bỏ hợp đồng, bên nào không thực hiện hoặc đơn phương đình chỉ thực hiện hợp đồng mà không có lý do chính đáng thì sẽ bị phạt tới <div class="d-inline-block"> <span>@Model.Indemnify</span></div>% giá trị của hợp đồng bị vi phạm.</div>
        <p>2. Bên nào vi phạm các điều khoản trên đây sẽ phải chịu trách nhiệm vật chất theo quy định của các văn bản pháp luật có hiệu lực hiện hành về phạt vi phạm chất lượng, số lượng, thời gian, địa điểm, thanh toán, bảo hành v.v… mức phạt cụ thể do hai bên thỏa thuận dựa trên khung phạt Nhà nước đã quy định trong các văn bản pháp luật về loại hợp đồng này.</p>
    </div>
    <div class="col-12">
        <p class="font-weight-bold ">ĐIỀU 8: BẤT KHẢ KHÁNG VÀ GIẢI QUYẾT TRANH CHẤP</p>

        <p>1. Bất khả kháng nghĩa là các sự kiện xảy ra một cách khách quan, không thể lường trước được và không thể khắc phục được mặc dù đã áp dụng mọi biện pháp cần thiết trong khả năng cho phép, một trong các Bên vẫn không có khả năng thực hiện được nghĩa vụ của mình theo Hợp đồng này; gồm nhưng không giới hạn ở: thiên tai, hỏa hoạn, lũ lụt, chiến tranh, can thiệp của chính quyền bằng vũ trang, cản trở giao thông vận tải và các sự kiện khác tương tự.</p>
        <p>2. Khi xảy ra sự kiện bất khả kháng, bên gặp phải bất khả kháng phải không chậm chễ, thông báo cho bên kia tình trạng thực tế, đề xuất phương án xử lý và nỗ lực giảm thiểu tổn thất, thiệt hại đến mức thấp nhất có thể.</p>
        <p>3. Trừ trường hợp bất khả kháng, hai bên phải thực hiện đầy đủ và đúng thời hạn các nội dung của hợp đồng này. Trong quá trình thực hiện hợp đồng, nếu có vướng mắc từ bất kỳ bên nào, hai bên sẽ cùng nhau giải quyết trên tinh thần hợp tác. Trong trường hợp không tự giải quyết được, hai bên thống nhất đưa ra giải quyết tại Tòa án có thẩm quyền. Phán quyết của tòa án là quyết định cuối cùng, có giá trị ràng buộc các bên. Bên thua phải chịu toàn bộ các chi phí giải quyết tranh chấp.</p>
    </div>
    <div class="col-12">
        <p class="font-weight-bold ">ĐIỀU 9: ĐIỀU KHOẢN CHUNG</p>

        <p>1. Việc thay đổi tên của Bên Mua trên hợp đồng và/hoặc trên hoá đơn sẽ không được chấp nhận.</p>
        <p>2. Hợp đồng này có giá trị thay thế mọi giao dịch, thỏa thuận trước đây của hai bên. Mọi sự bổ sung, sửa đổi hợp đồng này đều phải có sự đồng ý bằng văn bản của hai bên.</p>
        <p>3. Trừ các trường hợp được quy định ở trên, Hợp đồng này không thể bị hủy bỏ nếu không có thỏa thuận bằng văn bản của các bên. Trong trường hợp hủy hợp đồng, trách nhiệm liên quan tới phạt vi phạm và bồi thường thiệt hại được bảo lưu.</p>
        <p>4. Hợp đồng này được lập thành 02 (hai) bản, có giá trị như nhau. Mỗi bên giữ 01 (một) bản và có giá trị pháp lý như nhau.</p>
        <p>5. Hợp đồng này có hiệu lực kể từ ngày ký và được coi là đã thanh lý khi Bên B đã nhận đủ tiền và Bên A đã nhận hàng.</p>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-6 text-center">
                <p class="font-weight-bold ">ĐẠI DIỆN BÊN A</p>
                <p>Chức vụ</p>
                <p>(Ký tên, đóng dấu)</p>
            </div>
            <div class="col-6 text-center">
                <p class="font-weight-bold ">ĐẠI DIỆN BÊN B</p>
                <p>Chức vụ</p>
                <p>(Ký tên, đóng dấu)</p>
            </div>
        </div>
    </div>
</div>