@using Abp.Localization
@using bbk.netcore.Web.Areas.Inventorys.Models.Items
@section Header{

    <!-- should using in layouts -->
    <link href="~/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs-ext/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs-ext/summernote/dist/summernote-bs4.min.css" rel="stylesheet" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/Order/index.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/MyWork/Purchase.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/MyWork/Sendmail.js" charset="UTF-8" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/Order/index.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/MyWork/Purchase.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/MyWork/Sendmail.js" charset="UTF-8" asp-append-version="true"></script>
    </environment>
}
<div class="row">
    <ol class="breadcrumb breadcrumb-seperator-3">
        <li class="breadcrumb-item text">

            <a href="@Url.Action("Index", "Dashboard", "Inventorys")">   <i class="fal fa-home mr-1"></i>Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a>Đơn đặt hàng</a>
        </li>
    </ol>
    <div class="col-xl-12 mb-4 mt-2">
        <div class="form-row align-items-center">
            <div class="">
                <a class="btn btn-primary ml-auto text-white btn-back" href="@Url.Action("Index", "Dashboard", "Inventorys")">
                    <i class="fal fa-arrow-left"></i>
                </a>
            </div>
            <div class="d-flex flex-column ml-3">
                <h4 class="font-weight-bold">Đơn đặt hàng </h4>
            </div>
        </div>
    </div>
    @if (IsGranted("Inventorys.Order.Create"))
    {
         <div class="col-xl-12">
        <input type="text" hidden name="WarehouseId" id="WarehouseId" class="form-control">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"><i>Danh sách hợp đồng đã duyệt </i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    @*<button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>*@
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-row">
                        <div class="col-lg-6 col-md-12 mb-3">
                            @*  <button id="DeleteAll" name="DeleteButton" class="btn btn-sm btn-toolbar-full btn-primary ml-auto" disabled>
                            <span class="fal fa-trash-alt"></span>
                            @(new FixedLocalizableString("Xóa"))
                            </button>*@
                        </div>
                        <div class="col-lg-6 col-md-12 mb-3 d-flex">
                            <input type="text" id="SearchTerm" name="SearchTerm" placeholder="@(new FixedLocalizableString("Tìm kiếm"))" class="form-control" required>
                            <button type="button" id="Search" class="btn btn-primary"><i class="fal fa-search"></i></button>
                        </div>
                    </div>

                    <!-- datatable start -->
                    <table id="ContractTable" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>STT</th>
                                <th>MÃ HỢP ĐỒNG</th>
                                <th>NCC</th>
                                <th>THỜI GIAN TẠO</th>
                                <th>THỜI GIAN DUYỆT</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
   
    }
   
    <div class="col-xl-12">
        <div class="form-row">
            <div class="col-lg-6 col-md-12 mb-3">
                <button id="SendmailNCC" name="SendmailNCC" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                    <span class="fa fa-paper-plane"></span>
                    @(new FixedLocalizableString("Gửi mail NCC"))
                </button>
            </div>
        </div>
        <input type="text" hidden name="WarehouseId" id="WarehouseId" class="form-control">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"><i>Danh sách đơn đặt hàng</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    @*<button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>*@
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-row">
                        <div class="col-lg-6 col-md-12 mb-3">
                            @*  <button id="DeleteAll" name="DeleteButton" class="btn btn-sm btn-toolbar-full btn-primary ml-auto" disabled>
                            <span class="fal fa-trash-alt"></span>
                            @(new FixedLocalizableString("Xóa"))
                            </button>*@
                        </div>
                        <div class="col-lg-6 col-md-12 mb-3 d-flex">
                            <input type="text" id="SearchTerm" name="SearchTerm" placeholder="@(new FixedLocalizableString("Tìm kiếm"))" class="form-control" required>
                            <button type="button" id="Search" class="btn btn-primary"><i class="fal fa-search"></i></button>
                        </div>
                    </div>

                    <!-- datatable start -->
                    <table id="OrderTable" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>STT</th>
                                <th>MÃ ĐƠN ĐẶT HÀNG</th>
                                <th>MÃ HỢP ĐỒNG</th>
                                <th>NCC</th>
                                <th>THỜI GIAN TẠO</th>
                                <th>TRẠNG THÁI</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>