@using bbk.netcore.Web.Areas.Inventorys.Models.PurchsesRequest;
@using static bbk.netcore.mdl.OMS.Core.Enums.PurchasesRequestEnum
@model PurchsesRequestViewModel
@{
    Layout = null;
}
<div class="modal-content" id="ItemsCreateModal">
    <div class="modal-header">
        <h5 class="modal-title">Thêm mới yêu cầu mua hàng </h5><button type="button" class="close" data-dismiss="modal"
                                                                 aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="frmCreate" role="form" class="needs-validation" novalidate="">

            <div class="form-group row required">
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Đơn vị yêu cầu"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="SubsidiaryCompanyId" name="SubsidiaryCompanyId" asp-items="@Model.Getsubsidiary()" required>
                    <option value="" selected disabled>Chọn đơn vị yêu cầu</option>
                    </select>
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("Vui lòng chọn đơn vị yêu cầu."))
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Địa chỉ"))<span class="text-danger">*</span></label>
                    <input type="text" name="Address" id="Address" disabled class="form-control" required minlength="">
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("Vui lòng nhập địa chỉ."))
                    </div>
                </div>
                <div class="form-group col-md-4 required">
                    <label class="">@(new FixedLocalizableString("SDT"))<span class="text-danger">*</span></label>
                    <div class="d-flex">
                        <div class="input-group-prepend">
                            <span class="input-group-text">+84</span>
                        </div>
                        <input id="PhoneNumber" type="text" name="PhoneNumber" class="form-control" pattern=".{9,}" title="Ký tự nhập ít nhất là 9." maxlength="9" disabled required />
                    </div>
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("Sai định dạng!"))
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Email"))<span class="text-danger">*</span></label>
                    <input type="text" name="EmailAddress" id="EmailAddress" disabled class="form-control" required minlength="">
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("Vui lòng nhập email."))
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Ngày yêu cầu"))<span class="text-danger">*</span></label>
                    <input type="text" autocomplete="off" class="form-control date-picker" value="@DateTime.Now.ToString("dd/MM/yyyy")" disabled placeholder="@(new FixedLocalizableString("Nhập ngày"))"
                           id="RequestDate" name="RequestDate" required>
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("  Vui lòng chọn thời gian.."))
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-form-label">@(new FixedLocalizableString("Trạng thái"))</label>
                    <select class="select2-placeholder-multiple form-control" id="Status"  disabled>
                        <option value="1" disabled selected hidden>Chưa tổng hợp</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <label class=" col-form-label">@(new FixedLocalizableString("Danh sách hàng hóa"))</label>
                <input id="fileupload" disabled type=file name="files[]" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <a href="@Url.Action("Downloadfile", "PurchasesRequest", "Inventorys")" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                    <span class="fas fa-file-download"> </span>
                    @(new FixedLocalizableString("Tải file mẫu"))
                </a>
                <table id="ItemTable" class="table table-bordered table-hover table-striped w-100">
                    <thead class="bg-primary-600">
                        <tr>
                            <th>STT</th>
                            <th>HÀNG HOÁ</th>
                            <th>NCC</th>
                            <th>ĐVT</th>
                            <th>SỐ LƯỢNG</th>
                            <th>Mục đích sử dụng </th>
                            <th>Thời gian cần</th>
                            <th>Ghi chú</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </form>
      @*  <div class="col-md-12 text-center">
            <button id="addRow" name="addRow" disabled class="btn btn-sm btn-primary ml-auto">
                <span class="fal fa-plus-square"></span>
                @(new FixedLocalizableString("Thêm mới hàng hóa"))
            </button>
        </div>*@
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancelAndHuy.cshtml")


