@using bbk.netcore.mdl.OMS.Application.Experts.Dto
@{
    Layout = null;
}
@model ExpertListDto
<div class="modal-content" id="ExpertEditModal">
    <div class="modal-header">
        <h5 class="modal-title">Cập nhật thông tin Chuyên viên</h5><button type="button" class="close" data-dismiss="modal"
                                                      aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="frmCreate" role="form" class="needs-validation" novalidate="">
            <input type="text" id="UserId" name="UserId" value="@Model.UserId" hidden />
            <input type="text" name="Id" value="@Model.Id" hidden />
            <div class="row">
                <div class="form-group col-md-4 required">
                    <label class="">@(new FixedLocalizableString("Chọn chuyên viên"))<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" disabled name="Name" value="@Model.Name"/>
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("Không được để trống trường này!"))
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="">@(new FixedLocalizableString("Email"))<span class="text-danger">*</span></label>
                    <input type="text" name="Email" id="EmailUser" class="form-control" disabled value="@Model.Email">
                </div>
                <div class="form-group col-md-4 required">
                    <label class="">@(new FixedLocalizableString("Số điện thoại"))<span class="text-danger">*</span></label>
                    @*<input type="text" name="PhoneNumber" id="phone" class="form-control" required value="@Model.PhoneNumber">*@
                    <div class="d-flex">
                        <div class="input-group-prepend">
                            <span class="input-group-text">+84</span>
                        </div>
                        <input id="phone" type="text" name="PhoneNumber" class="form-control" pattern=".{9,}" title="Ký tự nhập ít nhất là 9." maxlength="9" value="@Model.PhoneNumber" required />
                    </div>
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("Không được để trống trường này!"))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 required">
                    <label class="">@(new FixedLocalizableString("Địa chỉ"))<span class="text-danger">*</span></label>
                    <input type="text" name="Address" class="form-control" required value="@Model.Address">
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("Không được để trống trường này!"))
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="">@(new FixedLocalizableString("Hàng hóa"))<span class="text-danger">*</span></label>
                    <select class="form-control selectExport" id="ItemsList" multiple="multiple">
                    </select>
                    <div class="invalid-feedback">
                        @(new FixedLocalizableString("Không được để trống trường này!"))
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel_Custom.cshtml")
