@using bbk.netcore.Web.Areas.App.Views.Shared.Components.TopBarUserArea
@using bbk.netcore.Web.Views.Shared.Components.RightNavbarUserArea
@model TopBarUserAreaViewModel

<div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
        <span class="mr-2">
            <img src="/img/demo/avatars/avatar-admin.png" class="rounded-circle profile-image" alt="@Html.Raw(Model.LoginInformations.User.Name)">
        </span>
        <div class="info-card-text">
            <div class="fs-lg text-truncate text-truncate-lg">@Html.Raw(Model.LoginInformations.User.Name + " " + Model.LoginInformations.User.Surname)</div>
            <span class="text-truncate text-truncate-md opacity-80">@Html.Raw(Model.LoginInformations.User.EmailAddress)</span>
        </div>
    </div>
</div>
<div class="dropdown-divider m-0"></div>
@*<a href="#" class="dropdown-item" data-action="app-reset">
        <span data-i18n="drpdwn.reset_layout">Reset Layout</span>
    </a>*@
<a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
    <span data-i18n="drpdwn.settings">Cài đặt trải nghiệm</span>
</a>
<div class="dropdown-divider m-0"></div>

<a href="#" class="dropdown-item" data-action="app-fullscreen">
    <span data-i18n="drpdwn.fullscreen">Toàn màn hình</span>
    <i class="float-right text-muted fw-n">F11</i>
</a>
<a href="#" class="dropdown-item" data-action="app-print">
    <span data-i18n="drpdwn.print">In Trang</span>
    <i class="float-right text-muted fw-n">Ctrl + P</i>
</a>
<div class="dropdown-multilevel dropdown-multilevel-left">
    <div class="dropdown-item">
        Ngôn ngữ
    </div>
    <div class="dropdown-menu">
        <a href="@Url.Action("ChangeCulture", "AbpLocalization", new {
           area = "",
                                                  cultureName = "vi",
                                                  returnUrl = Context.Request.Path + Context.Request.QueryString
                                              })" class="dropdown-item" >Việt Nam</a>
        <a href="@Url.Action("ChangeCulture", "AbpLocalization", new {
                                                    area = "",
                                                  cultureName = "en",
                                                  returnUrl = Context.Request.Path + Context.Request.QueryString
                                              })" class="dropdown-item active" >English (US)</a>
        @*<a href="#?lang=es" class="dropdown-item" data-action="lang" data-lang="es">Español</a>
            <a href="#?lang=ru" class="dropdown-item" data-action="lang" data-lang="ru">Русский язык</a>
            <a href="#?lang=ch" class="dropdown-item" data-action="lang" data-lang="jp">日本語</a>
            <a href="#?lang=ch" class="dropdown-item" data-action="lang" data-lang="ch">中文</a>*@
    </div>
</div>
<div class="dropdown-divider m-0"></div>
<a class="dropdown-item fw-500 pt-3 pb-3" href="/Account/Logout">
    <span data-i18n="drpdwn.page-logout">Logout</span>
    <span class="float-right fw-n">&commat;codexlantern</span>
</a>