@using bbk.netcore.Web.Areas.Inventorys.Models.MyWork;
@{
    Layout = null;
}
@model MyWorkViewModel
<div class="modal-content" id="ExportCreateModal">
    <div class="modal-header">
        <h5 class="modal-title">Thêm mới phiếu xuất kho </h5><button type="button" class="close" data-dismiss="modal"
                                                                     aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="frmCreate" role="form" class="needs-validation" novalidate="">
            <input id="puchasesSynId" value="@ViewBag.Id" hidden></input>
            @*<input id="Idtransfer" value="@Model.transferListDto.Id" hidden></input>*@
            <div class="form-group row required">
                <div class="col-md-12">
                    <label class=" col-form-label">@(new FixedLocalizableString("Nhà cung cấp"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="SupplierId" name="SuplierId" asp-items="@Model.GetSuppliers()" required >
                        <option value="" selected disabled>Chọn nhà cung cấp</option>
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn nhà cung cấp.
                    </div>

                </div>

            </div>
            <div class="col-12">
                @*<input value="@Model.Id" id="SynthesiseId" hidden>*@
                <table id="ItemAssTable" class="table table-bordered table-hover table-striped w-100">
                    <thead class="bg-primary-600">
                        <tr>
                            <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                            <th>STT</th>
                            <th>TÊN HÀNG HOÁ</th>
                            <th>ĐVT</th>
                            <th>SỐ LƯỢNG</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel_Custom.cshtml")

