    @using bbk.netcore.Web.Areas.Inventorys.Models.ExportRequests
@{
    Layout = null;
}
@model ExportRequestModel
<div class="modal-content" id="ExportRequestsCreateModal">
    <div class="modal-header">
        <h5 class="modal-title">Thêm mới phiếu xuất kho </h5><button type="button" class="close" data-dismiss="modal"
                                                      aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="frmCreate" role="form" class="needs-validation" novalidate="">
            <div class="form-group row required">
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Tên người nhận hàng"))<span class="text-danger">*</span></label>
                    <input type="text" name="ReceiverName" class="form-control" id="ReceiverName" required minlength="">
                    <div class="invalid-feedback">
                        Vui lòng nhập tên người nhận.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("SDT người nhận"))<span class="text-danger">*</span></label>
                    <input type="tel" name="Phone" class="form-control" id="phone" required  minlength="">
                    <div class="invalid-feedback">
                        Vui lòng nhập SDT người nhận.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Địa chỉ (Bộ phận)"))<span class="text-danger">*</span></label>
                    <input type="text" name="Address" class="form-control" id="address" required minlength="">
                    <div class="invalid-feedback">
                        Vui lòng nhập địa chỉ (Bộ phận).
                    </div>
                </div>
                
               
              
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Kho xuất"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="WarehouseDestinationId" name="" asp-items="@Model.GetWarehouse()" required>
                        <option value="" selected disabled>Chọn Kho xuất</option>
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn kho xuất.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Ngày cần"))<span class="text-danger">*</span></label>
                    <input type="text" name="RequestDate" class="form-control date-picker" required minlength="">
                    <div class="invalid-feedback">
                        Vui lòng nhập ngày cần 
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Người tạo phiếu"))<span class="text-danger">*</span></label>
                    <input type="text" name="" class="form-control" value="@ViewBag.username" required minlength="" disabled>
                </div>
                
               
              
                <div class="col-md-12">
                    <label class=" col-form-label">@(new FixedLocalizableString("Lý do xuất kho"))<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input type="text" name="Remark" class="form-control" required minlength="">
                        <div class="invalid-feedback">
                            Vui lòng nhập lý do xuất kho
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <label class=" col-form-label">@(new FixedLocalizableString("Thông tin hàng hóa"))</label>
                    <table id="ExportRequestModal" class="table  table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>STT</th>
                                <th>HÀNG HOÁ</th>
                                <th>GÍA NHẬP</th>
                                <th>SL HỆ THỐNG</th>
                                <th>SỐ LƯỢNG XUẤT</th>
                                <th>ĐƠN VỊ TÍNH</th>
                              @*  <th>KHỐI </th>
                                <th>TẦNG </th>
                                <th>KHAY</th>
                                <th>Vị trí</th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                  
                </div>
            </div>
        </form>
        <div class="col-md-12 text-center">
            <button disabled id="addRow" name="addRow" class="btn btn-sm btn-primary ml-auto">
                <span class="fal fa-plus-square"></span>
                @(new FixedLocalizableString("Thêm mới hàng hóa"))
            </button>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel_Custom.cshtml")

