@using bbk.netcore.Web.Areas.Inventorys.Models.ExportRequests
@{
    Layout = null;
}
@model ExportRequestModel
<div class="modal-content" id="ExportRequestsCreateModal">
    <div class="modal-header">
        <h5 class="modal-title">Thêm mới phiếu xuất kho </h5><button type="button" class="close" data-dismiss="modal"
                                                                     aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="frmCreate" role="form" class="needs-validation" novalidate="">
            <div class="form-group row required">
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Kho xuất"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="WarehouseDestinationId" name="WarehouseDestinationId" asp-items="@Model.GetWarehouse()" required disabled>
                        <option value="" selected disabled>Chọn Kho xuất</option>
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn kho xuất.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Ngày tạo phiếu"))<span class="text-danger">*</span></label>
                    <input type="text" name="RequestDate" class="form-control date-picker"  value="@DateTime.Now.ToShortDateString()" required minlength="" disabled>
                    <div class="invalid-feedback">
                        Vui lòng nhập ngày cần
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Người tạo phiếu"))<span class="text-danger">*</span></label>
                    <input type="text" name="" class="form-control" value="@ViewBag.username" required minlength="" disabled>
                </div>
                <div class="col-md-12">
                    <label class=" col-form-label">@(new FixedLocalizableString("Lý do xuất kho"))<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <div class="invalid-feedback">
                            Vui lòng nhập lý do xuất kho
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <label class=" col-form-label">@(new FixedLocalizableString("Thông tin hàng hóa"))</label>
                    <table id="ExportRequestModal" class="table  table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>STT</th>
                                <th>HÀNG HOÁ</th>
                                <th>GÍA NHẬP</th>
                                <th>TỒN KHO</th>
                                <th>SL ĐIỀU CHUYỂN</th>
                                <th>ĐƠN VỊ TÍNH</th>
                                <th>KHO NHẬP</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel_Custom.cshtml")

