@using Abp.Localization
@using bbk.netcore.Web.Areas.Inventorys.Models.ExportRequests
@using bbk.netcore.mdl.OMS.Core.Enums
@model ExportRequestModel
@section Header{

    <!-- should using in layouts -->
    <link href="~/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
          <link href="~/libs/summernote/dist/summernote-bs4.min.css" rel="stylesheet" asp-append-version="true" />

        <!-- select 2 -->
    </environment>
    <environment names="Staging,Production">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
              <link href="~/libs/summernote/dist/summernote-bs4.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ExportRequests/ExportRequirementDetail.js" charset="UTF-8" asp-append-version="true"></script>
              <script src="~/libs/summernote/dist/summernote-bs4.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8" asp-append-version="true"></script>
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="/view-resources/Areas/PersonalProfile/_Bundles/documents.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ExportRequests/ExportRequirementDetail.js" charset="UTF-8" asp-append-version="true"></script>
              <script src="~/libs/summernote/dist/summernote-bs4.min.js" asp-append-version="true"></script>

    </environment>
}
<div class="row">
    <input type="hidden" name="Id" value="@Model.exportRequests.Id" id="Id" />
    <input type="hidden" name="WarehouseId" value="@Model.warehouse.Id" id="WarehouseId" />
    <input type="text" value="@ViewBag.email" id="email" hidden />
    <input type="text" value="@ViewBag.name" id="name" hidden />
    <ol class="breadcrumb breadcrumb-seperator-3">
        <li class="breadcrumb-item ">

            <a href="@Url.Action("Index", "Dashboard", "PersonalProfile")"> <i class="fal fa-home mr-1"></i>Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("ExportRequirement", "ExportRequests", "PersonalProfile")">Yêu cầu xuất kho</a>
        </li>
        <li class="breadcrumb-item active"> Chi tiết phiếu yêu cầu xuất kho </li>
    </ol>
    <div class="col-xl-12 mb-4 mt-2">
        <div class="form-row align-items-center">
            <div class="">
                <a class="btn btn-primary ml-auto text-white btn-back" href="@Url.Action("ExportRequirement", "ExportRequests", "PersonalProfile")">
                    <i class="fal fa-arrow-left"></i>
                </a>
            </div>
            <div class="d-flex flex-column ml-3">
                <h4 class="font-weight-bold">Chi tiết phiếu  yêu cầu xuất kho - @Model.exportRequests.CodeRequirement </h4>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <i class="fal fa-info-circle" style="color: #f19a5b;"></i>
                    Thông tin
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    @*<button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>*@
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="infor-warehouse">
                                <p class="mb-2"><span class="font-weight-bold">Kho xuất: </span> @Model.warehouse.Name</p>
                                <p class="mb-2"><span class="font-weight-bold">Đơn vị yêu cầu: </span> @Model.subsidiaryDto.NameCompany</p>
                                <p class="mb-2"><span class="font-weight-bold">Ngày tạo phiếu: </span> @Model.exportRequests.CreationTime.ToShortDateString()</p>
                                <p class="mb-2"><span class="font-weight-bold">Người tạo phiếu: </span>@Model.CreatedByName</p>
                                <p class="mb-2">
                                    <span class="font-weight-bold">Trạng thái: </span>
                                    @if (Model.exportRequests.Status == ExportEnums.ExportStatus.Draft)
                                    {
                                    <p> Đang xử lý</p>
                                    }
                                    else if (Model.exportRequests.Status == ExportEnums.ExportStatus.Reject)
                                    {
                                    <p>Từ chối</p>
                                    }
                                    else if (Model.exportRequests.Status == ExportEnums.ExportStatus.Waiting)
                                    {
                                    <p>Chờ phê duyệt</p>
                                    }
                                    else
                                    {
                                    <p>Phê duyệt</p>
                                    }
                                </p>
                                <p class="mb-2"><span class="font-weight-bold">Lý do xuất kho: </span>@Model.exportRequests.Remark</p>
                                <table id="ExportTable" class="table table-bordered table-hover table-striped w-100">
                                    <thead class="bg-primary-600">
                                        <tr>
                                            <th>STT</th>
                                            <th>MÃ HÀNG HÓA</th>
                                            <th>ĐVT</th>
                                            <th>SL ĐIỀU CHUYỂN</th>
                                            <th>GIÁ/ĐVT</th>
                                        </tr>
                                    </thead>
                                </table>
                                @* @if (Model.exportRequests.LastModificationTime.HasValue)
                                {
                                <p class="mb-2"><span class="font-weight-bold">Ngày chỉnh sửa : </span>@Model.exportRequests.LastModificationTime.Value.ToShortDateString()</p>
                                }*@
                                @if (IsGranted("Inventorys.ExportRequests.Requirement"))
                                {
                                    @if (Model.exportRequests.Status == ExportEnums.ExportStatus.Draft)
                                    {
                                        <button id="SendTo" name="SendTo" data-obj="@Model.exportRequests.Id" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                                            @(new FixedLocalizableString("Gửi"))
                                        </button>
                                    }
                                } 
                                @if (IsGranted("Inventorys.ExportRequests.Create"))
                                {
                                    @if (Model.exportRequests.Status == ExportEnums.ExportStatus.Approve && Model.exportRequests.ExportStatus == ExportEnums.Export.Draft)
                                    {
                                        <button id="CreateExport" name="CreateExport" data-obj="@Model.exportRequests.Id" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                                            @(new FixedLocalizableString("Tạo phiếu xuất kho"))
                                        </button>
                                    }
                                }
                            </div>
                            @if (IsGranted("Inventorys.ExportRequests.Approve"))
                            {
                                @if (Model.exportRequests.Status == ExportEnums.ExportStatus.Waiting)
                                {
                                    <div class="col-xl-12 mt-4">
                                        <div class="row">
                                            <div class="col-1">
                                                <button class="btn btn-browse" data-quo="@Model.exportRequests.Id" style="background: #58a572; color: #fff;">
                                                    Phê duyệt
                                                </button>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-reject" data-quo="@Model.exportRequests.Id" style="background: #f56064; color: #fff;">Từ chối</button>
                                            </div>

                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-xl-12 mt-4">
                                        <div class="row">
                                            <div class="col-1">
                                                <button class="btn btn-browse" disabled data-quo="@Model.exportRequests.Id" style="background: #58a572; color: #fff;">
                                                    Phê duyệt
                                                </button>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-reject" disabled data-quo="@Model.exportRequests.Id" style="background: #f56064; color: #fff;">Từ chối</button>
                                            </div>

                                        </div>
                                    </div>

                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>