@using Abp.Localization
@using bbk.netcore.Web.Areas.Inventorys.Models.ExportRequests
@model ExportRequestModel
@section Header{

    <!-- should using in layouts -->
    <link href="~/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" asp-append-version="true" />
    <environment names="Development">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/libs/select2/dist/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}
@section Scripts{
    <environment names="Development">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/libs/select2/dist/js/select2.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ExportRequests/index.js" asp-append-version="true"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/js/datagrid/datatables/datatables.bundle.js" asp-append-version="true"></script>
        <script src="~/libs/select2/dist/js/select2.min.js" asp-append-version="true"></script>
        <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/Oms/ExportRequests/index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row">
    <ol class="breadcrumb breadcrumb-seperator-3">
        <li class="breadcrumb-item text">

            <a href="@Url.Action("Index", "Dashboard", "PersonalProfile")">   <i class="fal fa-home mr-1"></i>Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a>Danh sách phiếu xuất kho</a>
        </li>
    </ol>
    <div class="col-xl-12 mb-4 mt-2">
        <div class="form-row align-items-center">
            <div class="">
                <a class="btn btn-primary ml-auto text-white btn-back" href="@Url.Action("Index", "Dashboard", "PersonalProfile")">
                    <i class="fal fa-arrow-left"></i>
                </a>
            </div>
            <div class="d-flex flex-column ml-3 ">
                <h4 class="font-weight-bold ">Danh sách phiếu xuất kho</h4>
            </div>
        </div>
    </div>
   <div class="col-md-12">
        <div class="p-3 bg-white rounded mb-g shadow-2 d-flex align-items-end justify-content-between">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-3 col-md-3 mb-3 ">
                        <input type="text" id="SearchTerm" name="SearchTerm" placeholder="Mã Phiếu" class="form-control" required="" fdprocessedid="wjnlr">
                    </div>
                    <div class="col-lg-3 col-md-3 mb-3 ">
                        <input type="text" id="RequestDate" name="RequestDate" placeholder="Ngày yêu cầu" class="form-control date-picker" required="" fdprocessedid="wjnlr">
                    </div>
                    <div class="col-lg-3 col-md-3 mb-3 ">
                        <select class="SubjectName-select form-control" id="ProducerCode" name="ProducerCode" asp-items="@Model.GetWarehouse()" required>
                            <option value="" selected>Chọn Kho xuất</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 mb-3">
                        <select class="SubjectName-select form-control" id="typeCode-select" name="ProducerCode" asp-items="@Model.GetWarehouse()" disabled required>
                            <option value="" selected>Người yêu cầu</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 mb-3">
                        <select class="SubjectName-select form-control" id="typeCode-select" name="ProducerCode" asp-items="@Model.GetWarehouse()" disabled required>
                            <option value="" selected>Trạng thái</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row mb-3">
                    <div class="col-md-12 text-right">
                        <button type="button" id="Search" class="btn btn-primary "><i class="fal fa-search"></i>Tìm Kiếm</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"><i>Danh sách phiếu yêu cầu xuất kho</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    @*<button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>*@
                </div>
            </div>

            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-row">
                       <div class="col-lg-6 col-md-12 mb-3">
                            @if (IsGranted("Inventorys.ExportRequests.Create"))
                            {
                                <button id="CreateNewButtonxx" name="CreateNewButton" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                                    <span class="fal fa-plus-square"></span>
                                    @(new FixedLocalizableString("Tạo mới"))
                                </button>
                            }
                            @if (IsGranted("Inventorys.ExportRequests.Delete"))
                            {
                                <button id="DeleteAll" name="DeleteButton" class="btn btn-sm btn-toolbar-full btn-primary ml-auto" disabled>
                                    <span class="fal fa-trash-alt"></span>
                                    @(new FixedLocalizableString("Xóa"))
                                </button>
                            }
                        </div>
                    </div>

                    <!-- datatable start -->
                    <table id="ExportRequimentTable" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>STT</th>
                                <th>MÃ PHIẾU</th>
                                <th>KHO XUẤT</th>
                                <th>ĐƠN VỊ YÊU CẦU</th>
                                <th>THỜI GIAN YÊU CẦU</th>
                                <th>NGÀY PHÊ DUYỆT</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div> 
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"><i>Quản lý phiếu xuất kho </i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    @*<button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="fal fa-expand"></i></button>*@
                </div>
            </div>

            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-row">
                     @*   <div class="col-lg-6 col-md-12 mb-3">
                            @if (IsGranted("Inventorys.ExportRequests.Create"))
                            {
                                <button id="CreateNewButtonxx" name="CreateNewButton" class="btn btn-sm btn-toolbar-full btn-primary ml-auto">
                                    <span class="fal fa-plus-square"></span>
                                    @(new FixedLocalizableString("Tạo mới"))
                                </button>
                            }
                            @if (IsGranted("Inventorys.ExportRequests.Delete"))
                            {
                                <button id="DeleteAll" name="DeleteButton" class="btn btn-sm btn-toolbar-full btn-primary ml-auto" disabled>
                                    <span class="fal fa-trash-alt"></span>
                                    @(new FixedLocalizableString("Xóa"))
                                </button>
                            }
                        </div>*@
                    </div>

                    <!-- datatable start -->
                    <table id="ExportTable" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>STT</th>
                                <th>MÃ PHIẾU</th>
                                <th>MÃ PHIẾU YÊU CẦU</th>
                                <th>KHO XUẤT</th>
                                <th>NƠI NHẬP</th>
                                <th>THỜI GIAN TẠO</th>
                                <th>THỜI GIAN XUẤT HÀNG</th>
                                <th>TRẠNG THÁI</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>