@using Abp.MultiTenancy
@using bbk.netcore.MultiTenancy
@using bbk.netcore.Web.Areas.Inventorys.Models.Work
@using bbk.netcore.mdl.OMS.Application.Works.Dto
@using bbk.netcore.mdl.PersonalProfile.Core
@using static bbk.netcore.mdl.OMS.Core.Enums.WorkEnum
@model WorkCreateDto
@{
    Layout = null;
}
<div class="modal-content" id="CustomerCreateModal">
    <div class="modal-header">
        <h5 class="modal-title">Thêm mới </h5><button type="button" class="close" data-dismiss="modal"
                                                      aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="frmCreate" method="post" action="@Url.Action("UploadDocument","Work", new {area = PersonalProfileCoreConsts.AreaName} )" enctype="multipart/form-data" role="form" class="form-validation needs-validation" novalidate>
            <input type="hidden" name="Id" asp-for="@Model.Id" />
            <div class="form-group row required">
                <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Tên công việc"))</label>
                <div class="col-md-9">
                    <input type="text" name="Title" class="form-control" required minlength="">
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Mô tả"))</label>
                <div class="col-md-9">
                    <textarea id="Description" name="Description" class="form-control" required></textarea>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Nhóm công việc"))</label>
                <div class="col-md-9">
                    <select class="select2-placeholder form-control" asp-for="IdWorkGroup" asp-items="@Model.GetSelectListItemWorkGroup()">
                        <option value="" selected disabled>Chọn nhóm công việc</option>
                    </select>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Hồ sơ công việc"))</label>
                <div class="col-md-9">
                    <select class="select2-placeholder form-control" asp-for="IdProfileWork" asp-items="@Model.GetSelectListItemProfileWorkGroup()">
                        <option value="" selected disabled>Chọn hồ sơ công việc</option>
                    </select>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Thời gian bắt đầu"))</label>
                <div class="col-md-9">
                    <input type="text" autocomplete="off" class="form-control date date-picker" required placeholder="@(new FixedLocalizableString("Nhập ngày"))"
                    id="StartDate" name="StartDate">
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="IssuedDate">@(new FixedLocalizableString("Thời gian kết thúc"))</label>
                <div class="col-md-9">
                    <input type="text" autocomplete="off" class="form-control date date-picker" required placeholder="@(new FixedLocalizableString("Nhập ngày"))"
                           id="EndDate" name="EndDate">
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="IssuedDate">@(new FixedLocalizableString("Ưu tiên"))</label>
                <div class="col-md-9">
                    <select class="select2-placeholder-multiple form-control" asp-for="priority" required asp-items="Html.GetEnumSelectList<Priority>()">
                        <option value="" disabled selected hidden>Chọn độ ưu tiên</option>
                    </select>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Trạng thái"))</label>
                <div class="col-md-9">
                    <select class="select2-placeholder-multiple form-control" asp-for="Status" required asp-items="Html.GetEnumSelectList<Status>()">
                        <option value="" disabled selected hidden>Chọn trạng thái</option>
                    </select>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Người chủ trì"))</label>
                <div class="col-md-9">
                    <select class="select2-placeholder-multiple form-control" asp-for="HostId" required asp-items="ViewBag.Name">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Nhãn công việc"))</label>
                <div class="col-md-9">
                    <select class="select2-placeholder-multiple form-control" asp-for="jobLabel" required asp-items="Html.GetEnumSelectList<JobLabel>()">
                        <option value="" disabled selected hidden>Chọn nhãn công việc</option>
                    </select>
                </div>
            </div>

            <div class="form-group row required">
                <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Tải lên tài liệu"))</label>
                <div class="col-md-9">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input file-upload-field" id="file" name="file" multiple>
                        <label class="custom-file-label" for="customFile">Chọn tài liệu</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancelAndHuy.cshtml")
