@using Abp.Localization
@using Abp.MultiTenancy
@using bbk.netcore.MultiTenancy
@using bbk.netcore.mdl.OMS.Application.Works.Dto
@using bbk.netcore.mdl.PersonalProfile.Core
@using static bbk.netcore.mdl.OMS.Core.Enums.WorkEnum
@model WorkEditDto

<script src="~/view-resources/Areas/Oms/Works/_uploadFile.js"></script>
<div class="modal-header">
    <h5 class="modal-title">Xem công việc</h5>
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
    </button>
</div>

<div class="modal-body">
    <form name="FrmEdit" method="post" role="form" class="form-validation needs-validation" novalidate>
        <input type="hidden" name="Id" value="@Model.Id" id="Id" />
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Tên công việc"))</label>
            <div class="col-md-9">
                <input type="text" name="Title" value="@Model.Title" class="form-control" required minlength="" disabled>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Mô tả"))</label>
            <div class="col-md-9">
                <div class="form-control" style="background-color: #f3f3f3;">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Nhóm công việc"))</label>
            <div class="col-md-9">
                <select class="select2-placeholder form-control" id="list-workgroup" asp-for="IdWorkGroup" asp-items="@Model.GetSelectListItemWorkGroup()" disabled>
                    <option value="" selected disabled>Chọn nhóm công việc</option>
                </select>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Hồ sơ công việc"))</label>
            <div class="col-md-9">
                <select class="select2-placeholder form-control" id="list-workgroup" asp-for="IdProfileWork" asp-items="@Model.GetSelectListItemProfileWorkGroup()" disabled>
                    <option value="" selected disabled>Chọn hồ sơ công việc</option>
                </select>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Thời gian bắt đầu"))</label>
            <div class="col-md-9">
                <input type="text" autocomplete="off" class="form-control date date-picker" value="@Model.StartDate.ToString("dd/MM/yyyy")" required placeholder="@(new FixedLocalizableString("Nhập ngày"))" id="StartDate" name="StartDate" disabled>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="IssuedDate">@(new FixedLocalizableString("Thời gian kết thúc"))</label>
            <div class="col-md-9">
                <input type="text" autocomplete="off" class="form-control date date-picker" value="@Model.EndDate.ToString("dd/MM/yyyy")" required placeholder="@(new FixedLocalizableString("Nhập ngày"))" disabled
                       id="EndDate" name="EndDate">
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="IssuedDate">@(new FixedLocalizableString("Ưu tiên"))</label>
            <div class="col-md-9">
                <select class="select2-placeholder-multiple form-control" asp-for="priority" required asp-items="Html.GetEnumSelectList<Priority>()" disabled>
                    <option value="" disabled selected hidden>Chọn độ ưu tiên</option>
                </select>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Trạng thái"))</label>
            <div class="col-md-9">
                <select class="select2-placeholder-multiple form-control" asp-for="Status" required asp-items="Html.GetEnumSelectList<Status>()" disabled>
                    <option value="" disabled selected hidden>Chọn trạng thái</option>
                </select>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Người chủ trì"))</label>
            <div class="col-md-9">
                <select class="select-placeholder-multiple form-control" asp-for="HostId" required asp-items="ViewBag.Name" disabled>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Người phối hợp"))</label>
            <div class="col-md-9">
                <select class="select2-placeholder-multiple js-example-basic-multiple-limit form-control" name="multiple-placeholder" id="multiple-placeholder" multiple="multiple" asp-items="ViewBag.UserCoWord" disabled>
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Nhãn công việc"))</label>
            <div class="col-md-9">
                <select class="select2-placeholder-multiple form-control" asp-for="jobLabel" required asp-items="Html.GetEnumSelectList<JobLabel>()" disabled>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@(new FixedLocalizableString("Tải lên tài liệu"))</label>
            <div class="col-md-9">
                <table id="tableTL" class="table m-0 table-sm table-hover table-bordered">
                    <thead class="">
                        <tr>
                            <th colspan="4" style="background-color: #f7f7f7">&emsp;Thông tin tài liệu</th>
                        </tr>
                        <tr>
                            <th class="text-center">Tên tài liệu</th>
                            <th class="text-center">Thời gian tải lên</th>
                            <th class="text-center">Người tạo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@(new FixedLocalizableString("Đóng"))</button>
</div>

