@using bbk.netcore.Web.Areas.Inventorys.Models.WarehouseCard;
@{
  Layout = null;
}
@model WarehouseCardViewModel

<div class="modal-content" id="WarehouseCardCreateModal">
  <div class="modal-header">
    <h5 class="modal-title">Tạo thẻ kho </h5>
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
      <span aria-hidden="true"><i class="fal fa-times"></i></span>
      </button>
  </div>
  <div class="modal-body">
    <form name="frmCreate" role="form" class="needs-validation" novalidate="">
      <div class="form-group row required">

        <div class="col-md-4">
          <label class=" col-form-label">@(new FixedLocalizableString("Thông tin Kho"))<span class="text-danger">*</span></label>
          <select class="warehouse-select form-control" id="WarehouseDestinationId" name="WarehouseDestinationId" asp-items="@Model.GetWarehouse()" required>
            <option value="" selected disabled>Chọn Kho</option>
          </select>
          <div class="invalid-feedback">
            Vui lòng chọn Kho.
          </div>
        </div>
        <div class="col-md-4">
          <label class=" col-form-label">@(new FixedLocalizableString("Thông tin sản phẩm"))<span class="text-danger">*</span></label>
          <select class="item-select form-control" id="ItemId" name="ItemsId" asp-items="@Model.GetItem()" required>
            <option value="" selected disabled>Chọn sản phẩm</option>
          </select>
          <div class="invalid-feedback">
            Vui lòng chọn sản phẩm.
          </div>
        </div>
        <div class="col-md-4">
          <label class=" col-form-label">@(new FixedLocalizableString("Đơn vị tính"))<span class="text-danger">*</span></label>
          <select class="item-select form-control" id="UnitId" name="UnitId" asp-items="@Model.GetUnit()" required>
            <option value="" selected disabled>Chọn đơn vị tính</option>
          </select>
          <div class="invalid-feedback">
            Vui lòng chọn đơn vị tính.
          </div>
        </div>
        <div class="col-md-4">
          <label class=" col-form-label">@(new FixedLocalizableString("Người tạo"))<span class="text-danger">*</span></label>
          <input type="text" name="CreatedBy" class="form-control" value="@Model.CreatedBy" disabled minlength="">
        </div>

        <div class="col-md-12">
          <label class=" col-form-label">@(new FixedLocalizableString("Ghi chú"))</label>
          <textarea id="Remark" name="Remark" class="form-control"></textarea>
        </div>

        <div class="col-md-12 mt-3">
          <input id="fileupload" type=file name="files[]" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" hidden>
          <table id="ItemTable" class="table table-bordered table-hover table-striped w-100">
            <thead class="bg-primary-600">
              <tr>
                <th>STT</th>
                <th>NGÀY NHẬP</th>
                <th>PHIẾU NHẬP</th>
                <th>PHIẾU XUẤT</th>
                <th>SỐ LƯỢNG NHẬP</th>
                <th>SỐ LƯỢNG XUẤT</th>
                <th>NGÀY NHẬP</th>
                <th>NGÀY XUẤT</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

     

      
    </form>
  </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel_Custom.cshtml")


