@{
    Layout = null;
}
@using bbk.netcore.Web.Areas.Inventorys.Models.Items
@model ItemsModel
<div class="modal-content" id="ItemsCreateModal">
    <div class="modal-header">
        <h5 class="modal-title">Cập nhật thông tin hàng hóa  </h5><button type="button" class="close" data-dismiss="modal"
                                                      aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="FrmEdit" role="form" class="needs-validation" novalidate="">
            <div class="form-group row required">
                <input type="text" hidden name="WarehouseId" class="form-control" value="@ViewBag.WareHouseId">
                <input type="text" hidden name="Id" class="form-control" value="@Model.Items.Id">
                <input type="text" hidden class="form-control CategoryCode" value="@Model.Items.CategoryCode">
                <input type="text" hidden class="form-control GroupCode" value="@Model.Items.GroupCode">
                <input type="text" hidden class="form-control KindCode" value="@Model.Items.KindCode">
                <input type="text" hidden class="form-control ProducerCode" value="@Model.Items.ProducerCode">
                <input type="text" hidden class="form-control SupplierCode" value="@Model.Items.SupplierCode">
                <input type="text" hidden class="form-control MFG" value="@Model.Items.MFG">
                <input type="text" hidden class="form-control Unit" value="@Model.Items.Unit">
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Tên hàng hóa"))<span class="text-danger">*</span></label>
                    <input type="text" name="Name" class="form-control" value="@Model.Items.Name" required minlength="">
                    <div class="invalid-feedback">
                        Vui lòng nhập tên hàng hóa.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Mã hiệu sản phẩm của NCC/NSX"))<span class="text-danger">*</span></label>
                    <input type="text" name="SymbolCode" class="form-control" value="@Model.Items.SymbolCode" minlength="">
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Ngành hàng"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control " id="CategoryCode" name="CategoryCode" asp-items="@Model.GetCategory()" required>
                        <option value="" selected disabled>Chọn Ngành hàng</option>
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn ngành hàng.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Nhóm hàng"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="GroupCode" name="GroupCode" asp-items="@Model.GetGroup()" required>
                        <option value="" selected disabled>Chọn Nhóm hàng</option>
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn nhóm hàng.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("Loại hàng"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="KindCode" name="KindCode" asp-items="@Model.GetKind()" required>
                        <option value="" selected disabled>Chọn Loại hàng</option>
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn loại hàng.
                    </div>
                </div>
                <div class="col-md-4">
                    <label class=" col-form-label">@(new FixedLocalizableString("NSX"))<span class="text-danger">*</span></label>
                    <select class="SubjectName-select form-control" id="ProducerCode" name="ProducerCode" asp-items="@Model.GetProducers()" required>
                        <option value="" selected disabled>Chọn sản xuất</option>
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn nhà sản xuất.
                    </div>
                </div>
                <div class="col-md-12">
                    <label class=" col-form-label">@(new FixedLocalizableString("Mô tả"))<span class="text-danger">*</span></label>
                    <textarea id="Remark" name="Description" class="form-control" >@Model.Items.Description</textarea>
                </div>
            </div>
        </form>
    </div>
</div>
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel_Custom.cshtml")


